[2014-06-03 19:41] gernotstarke opened #1 "modularize asciidoc"
so we can generate:
1. full version, with all content and explanations
2. skeleton version, with all headings, without explanations

eventually:
3. customized version

[2014-06-03 19:42] gernotstarke opened #2 "create gradle buildfile to generate html"

[2014-06-03 19:43] gernotstarke opened #3 "create docx from adoc (or another intermediate format)"
alternatives:
- pandoc
- confluence -> docx-exporter-plugin

[2014-06-03 19:44] gernotstarke opened #4 "Anmerkungen JürgenKrey einarbeiten"
Zu dem Dokument hab ich ein paar Anmerkungen:

1)      In dem Kapitel 8 (übergreifende Konzepte) könnte ich mir gut vorstellen, noch weitere Unterkapitel
zu haben:  Kandidaten sind aus meiner Sicht Batch-/Stapel-Verarbeitung, Drucken, Reporting und Archivierung.
Ich hab das in meiner Fassung mal ausprobiert, und auch ein paar (unsichtbare) Fragen dazu formuliert. Feel free…J

2)      In der spezie

[2014-06-03 21:19] gernotstarke opened #5 "Decide on directory structure for i18n versions (at least DE and EN)"
shall we have

[code]

[2014-06-04 05:18] rdmueller opened #6 "create confluence space from adoc (or another intermediate format)"
create a gradle build step which converts the subset of adoc which is sued by arc42 into a confluence space.
Target will be the current confluence on demand version (5.3), but goal will be to support as many older versions as possible (let's see what the confluence api will provide us)

let's define some acceptance criteria:
A1: export should look "nice"
A2: if possible, a new export should only a

[2014-06-04 05:20] rdmueller opened #7 "export EA diagrams as named images"
provide a gradle build step which exports all diagrams found in an Enterprise Architect project as images with the diagram name as image name

[2014-06-04 06:26] #5 closed, assigned to nobody

[2014-06-04 07:15] gernotstarke opened #8 "include htmlSanityChecking"
to verify that internal links are ok, images exist etc.

[2014-06-04 09:45] gernotstarke opened #9 "create multi-project build for gradle"
create subprojects for
- DE version
- EN version

and "master build.gradle"

[2014-06-04 13:43] #1 closed, assigned to gernotstarke

[2014-06-04 13:45] #2 closed, assigned to gernotstarke

[2014-06-04 16:41] rdmueller opened #10 "Mit "ohne Hilfe" :-)"
schreibe das mal auf deutsch...

gerade sehe ich die mit "ohne Hilfe" versionen. Sollten wir das nicht vielleicht über Styles realisieren?
Ich hatte in meiner Version die Info-Sections im HTML per CSS so konfiguriert, dass sie nur als kleine Bubbles erscheinen, die ausklappen, wenn man mit der Maus drüber fährt.
Im Print-CSS sind sie dann komplett ausgeblendet, sprich, wenn man das HTML-Dokument i

[2014-06-06 12:23] StefanZoerner opened #11 "sentence in "contributors" stops"
Current text in contributors section
/arc42-template/src/DE/asciidoc/snippets/appendix-contributing.adoc
contains an unfinished sentence, it simply stops ...

"Den vielen anonym"

[2014-06-06 14:46] gernotstarke opened #12 "integrate nabble-forum"
I created a nabble-forum:

http://arc42-discussion.1007769.n3.nabble.com/

which we could integrate here at github (and later also in arc42.de and .org)...

Any suggestions how/where?
(yep - gh-pages would be great for that, also an arc42.github.io page, which currently does not exist...)

[2014-06-06 16:31] gernotstarke opened #13 "clarify :toc-title: attribute with asciidoctor project"
:toc-title: attribute does not work... or I'm misusing it.

Filed an issue with AsciiDoctor-nabble.

[2014-06-09 07:49] #13 closed, assigned to nobody

[2014-06-09 16:05] gernotstarke opened #14 "collect explicit requirements"
for:
- versions (with help,without help, with examples etc.)
- formats (docx, pdf, confluence, html etc.)
- supporting tools (i.e. headless EA image export)
- constraints (asciidoc as master format)

[2014-06-10 19:43] gernotstarke opened #15 "create copy-task in gradle that copies asciidoc-versions to build directory"
the asciidoc versions of the template shall be copied to our build (= output) directory.

From that, we'll create the download-artifacts one day...

[2014-06-10 19:47] gernotstarke opened #16 "create downloadable artifacts from build directory"
currently we only generate html into our build directory.

It'd be nice to copy all downloadable artifacts (e.g. the manually maintained EAP format, any manually maintained docx format, etc to the download directory, together with hashes etc

[2014-06-11 21:22] gernotstarke opened #17 "document our own design decisions..."
what better opportunity to apply arc42 to itself :-)

recursion-is-king, we know that since Lisp was invented.

Therefore: in docs directory, let's start a small collection of architecture information...
(EAP-export should be a level-1building-block in our "building-block view".

other option: create directory named "design-decisions" and writeup your ideas/approaches
in adoc in a file in there.

[2014-06-12 06:38] #9 closed, assigned to nobody

[2014-06-18 14:22] gernotstarke opened #19 ""golden-master" has build problems"
calling gradle in top-level directory (beneath master build.gradle) produces the following
error:

(seems to be a simple build-path problem)

$ gradle arc42
./src/DE/asciidoc/plain-without-help/./.DS_Store
./src/DE/asciidoc/plain-without-help/./build.gradle
java.io.FileNotFoundException: ./src/DE/asciidoc/golden-master/./src (Is a directory)
./src/DE/asciidoc/plain-without-help/./src/appendix-exam

[2014-06-18 16:04] gernotstarke opened #20 "how to handle differences between "plain" and "stripped-from-golden-master""
. arc42-template.adoc, introduction
The explanation of the "version" should differ in plain and golden-master (formerly plain-with-help):
** plain: Dies ist die _plain_ Version des Templates, ohne Erläuterungen...
** gm: Diese Version des Templates enthält Hilfen und Erläuterungen....

.arc42-template.adoc, concerning appendices
** plain: should imho not contain any appendix
** gm: should contain

[2014-06-18 21:50] #19 closed, assigned to rdmueller

[2014-06-23 07:04] #11 closed, assigned to nobody

[2014-06-28 17:56] rdmueller opened #21 "How will we handle translations?"
Any idea how we will handle the maintenance of translations? I would sugest to create a branch for each language, just to have a marker which translation is at which version.

...and which translations should we push to this repository? Is there already an "official" english asciidoc version? Should we use the version created by @masch70  (https://github.com/masch70/arc42-template-asciidoc)?

[2014-07-01 20:14] rdmueller opened #22 "fix images"
now that the build generates formats and zip files which should include images, the image copy task has to be fixed.

[2014-07-07 06:55] #3 closed, assigned to rdmueller

[2014-07-13 20:33] rdmueller opened #23 "fix logo image for ebook"

[2014-07-15 16:57] #22 closed, assigned to rdmueller

[2014-07-15 16:58] #15 closed, assigned to nobody

[2014-07-17 20:37] #21 closed, assigned to nobody

[2014-07-17 20:38] rdmueller opened #25 "update build script for en-version"
the build script currently ignores the en-version.

Have to update some parts in order to generate DE _and_ EN versions of the templates

[2014-07-17 20:44] rdmueller opened #26 "build.gradle reverted by accident"
https://github.com/arc42/arc42-template/commit/a5da1d66adf32a956ba347196f0d13fc0e31cd55

It seems to still work, but some clean ups have been removed

me <- should get more git practice

[2014-07-18 06:05] #26 closed, assigned to rdmueller

[2014-07-23 20:39] #25 closed, assigned to nobody

[2014-07-23 20:44] #10 closed, assigned to rdmueller

[2014-09-15 19:04] rdmueller opened #27 "Template Structure"
two questions:

1) should we put all sections in a subfolder or keep everything in a flat folder?

2) Asciidoc is able to detect that it is interpreted by github. I would like to add some navigation between the pages in case that it is viewed on github - is this ok? see http://mrhaki.blogspot.de/2014/08/awesome-asciidoc-conditional-directive.html

[2014-09-28 20:13] rdmueller opened #28 "add textile output"
In order to use the template for grails projects withouth asciidoc, a gdoc template is needed. gdoc is a subset of textile...

[2014-10-01 06:01] rdmueller opened #29 "finish travis script for deployment of templates"
let's finish the travis script in order to get deployed templates

[2014-10-03 08:30] rdmueller opened #32 "Contributors page on arc42"
Comment by @plafuro : The contributors page has also a small bug, by the way (the blue header is missing, as its url points is relative, where it should be absolute: "/resources/arc42-site-banner-striped-blue.jpg")

[2014-10-03 09:09] #32 closed, assigned to gernotstarke

[2014-10-07 19:05] rdmueller opened #33 "Template header for github"
Please take a look at the installed template for aquagrails:
https://github.com/arc42/aquagrails/blob/master/src/docs/arc42-template.asciidoc
it contains a special header which gets only rendered on github and which lets you navigate through the sections.
It also contains the text "place your own documentation here and remove the help text below as soon as you are ready." - for me as someone who d

[2014-10-09 16:55] plafue opened #34 "Target architecture vs status quo"
A colleague and I were wondering the following today: the documentation that one maintains based on this template is a living thing, and thus all the sections will be corrected and extended as the solution being built evolves. Is there a way to reflect the desired (maybe even utopic) architecture that we want to achieve, and at the same time document the status quo?

[2014-10-09 19:26] #34 closed, assigned to nobody

[2014-10-12 18:48] rdmueller opened #35 "create PDF as format"
...but I guess it only makes sense for the with-help version

[2014-10-30 21:28] #33 closed, assigned to nobody

[2014-10-30 21:29] rdmueller opened #36 "low prio: create script to add github header"
see #33

should be an extra option, not a default

[2014-11-03 21:35] rdmueller opened #37 "EAP Export"
... does not export diagrams which are sub-elements

[2014-11-04 21:39] rdmueller opened #38 "linebreaks for golden masters"
IMHO, it is easier to work with the templates when there is a linebreak after aprox 80 characters - not all editors support line wrap...

[2014-11-18 21:40] #27 closed, assigned to nobody

[2014-11-18 21:42] #29 closed, assigned to rdmueller

[2014-11-29 18:57] rdmueller opened #39 "document toolchain"
we need more documentation for the toolchain itself, all steps of the toolchain and how to use them

[2014-11-29 19:04] #7 closed, assigned to rdmueller

[2014-12-01 20:46] rdmueller opened #40 "wrong image reference"
An image reference in 09_design_decisions.adoc results in a wrong width attribute

[2014-12-01 20:48] #40 closed, assigned to rdmueller

[2015-02-09 07:16] gernotstarke opened #41 "create gh_page for arc42"
would be nice to have a github page with a nice "landing zone" - and maybe forwarding to confluence.arc42.org

[2015-02-10 06:07] rdmueller commented on #41
hm. a landing page in the design of arc42.org with links to all downloadable templates? (https://github.com/arc42/arc42-template/tree/gh-pages/dist)
We could also use the "releases" feature of github https://github.com/arc42/arc42-template/releases

PS: what's the meaning of the "ready" tag? sound more like a milestone to me.

[2015-02-10 06:46] gernotstarke commented on #41
"ready"-tag: inspired by https://waffle.io - an awesome way to manage github issues...

[2015-02-10 06:47] gernotstarke commented on #41
concerning arc42.org: I'll be overhauling arc42.org asap (April, May?) - with a responsive design (RapidWeaver) UI template...

[2015-02-10 06:50] gernotstarke commented on #41
gh_page:

first thing is to have the arc42.github.io subdomain up-and-running... not urgent, but would be nice..

as we have so few content changes in arc42, I'm not that much interested in automating release processes...

[2015-02-11 18:18] rdmueller commented on #41
I don't have the needed permission to create the arc42/arc42.github.io repository. If you could create it for me (and give me write permission), I would install some jekyll templates in order to have some dynamic pages available.

as an alternative, I would create a landing page at http://arc42.github.io/arc42-template/ with an overview of the current templates and a link to arc42.org (just create

[2015-02-11 18:31] rdmueller commented on #41
what about this page as replacement for the current arc42.org download page? http://arc42.github.io/arc42-template/index2.html

[2015-02-25 20:36] rdmueller opened #43 "missing images folder"
the distribution file (zip) for en with help is missing the images folder

[2015-04-03 20:59] rdmueller opened #45 "html version en is missing all images"

[2015-04-03 21:00] rdmueller opened #46 "Typo "Transaction procession" => processing"

[2015-04-04 06:45] gernotstarke commented on #45
will have a look into this...

[2015-04-04 06:48] gernotstarke commented on #46
accidently opened this issue in the wrong repo... sorry :-)

[2015-04-04 15:06] gernotstarke commented on #45
Build file compiles only de version...

Need to refactor... Maybe we phone after Easter...

Gernot

Dr. Gernot Starke
+49-177-7282570
gs@gernotstarke.de
www.gernotstarke.de

Von einem mobilen Geraet gesendet - bitte verzeihen Sie eventuelle Tippfehler.

[2015-04-04 20:49] #46 closed

[2015-04-05 20:15] #43 closed

[2015-04-05 21:29] #45 closed

[2015-04-06 07:32] rdmueller opened #47 ""Build file compiles only de version...""
It seems that the build does not work on a *nix OS

[2015-04-06 13:16] rdmueller commented on #47
test@ubuntu:~/arc42-template$ ./gradlew arc42 --stacktrace
:/build/src_gen/EN/asciidoc/with-help/:convert2Docx
pandoc: Prelude.maximum: empty list
:/build/src_gen/EN/asciidoc/with-help/:convert2Docx FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':/build/src_gen/EN/asciidoc/with-help/:convert2Docx'.

* Try:
Run with --info or --debug option to get mo

[2015-04-06 20:46] rdmueller commented on #47
one problem was that - because of a missing dependency - the asciidoc files where not copied before another task tried to create the docx version. While testing, the tasks where always executed in the right order just by chance.

this problem is now fixed, but it seems that it was only part of the problem

[2015-04-06 21:17] rdmueller commented on #47
it seems that the docbook/with-help version causes problems while executing pandoc on *nix.
The file is exactly the same on windows and on *nix, but pandoc will not convert it on my ubuntu instance.
pandoc version on windows: 1.12.4.2
pandoc version on ubuntu: 1.12.2.1

will now try to update my ubuntu version

[2015-04-06 21:59] rdmueller commented on #47
works with a newer pandoc version, so it's not a problem of the build and can be solved by updating pandoc

[2015-04-06 21:59] #47 closed

[2015-04-07 20:11] rdmueller commented on #35
phantomjs could be used to print html as pdf.
pandoc needs latex to create pdf

[2015-04-08 07:05] gernotstarke commented on #35
pdf output is planned for asciidoctor in the near future... (currently alpha):

http://asciidoctor.org/docs/convert-asciidoc-to-pdf/

[2015-04-08 09:34] masch70 commented on #35
I just recently successfully used asciidoctor-pdf to create a pdf-version of Arc42-Template based architecture documentations. Although in Alpha still, the only really "visible" drawback was the missing admonition icons for e.g. notes. Support thereof is already on the roadmap and not "killing" the benefit of having only one readable document for the stakeholders without the complex detours throug

[2015-04-08 16:36] rdmueller commented on #35
jsut stumbled upon https://github.com/asciidoctor/asciidoctorj/tree/master/asciidoctorj-pdf and https://github.com/asciidoctor/asciidoctor-fopub . I'll take a look at those options and see which ist the easiest to use.

[2015-04-10 07:11] gernotstarke opened #48 "template contains non-UTF-8 characters"
in directory "plain-without-help", all "Umlauts" are causing non-UTF-8 aborts with asciidoctor (on Mac OS)

Seems we have a Windows/Mac issue again...

[2015-04-10 20:42] rdmueller commented on #48
ok. thought that Max OS is comparable to linux - I just tried to build a clean version of this repository on Win8, Ubuntu and Mint Mate. No (real) problems.

Can you please post your error message?

[2015-04-13 20:39] rdmueller commented on #41
http://arc42.github.io/

please comment if changes are needed or close this issue :-)

[2015-04-14 18:09] rdmueller commented on #16
IMHO, travis does not make to much sense for these templates.
We do have the gh-pages branch and the dist folder is generated by the build. It is now easy to update the branch with the current dist files.
Those files are also linked from the landing page http://arc42.github.io .
Please reopen if you don't think that this issue is solved.

[2015-04-14 18:09] #16 closed

[2015-04-14 18:10] rdmueller commented on #41
ok, changes to the landing page are now collected here: https://github.com/arc42/arc42.github.io/issues

[2015-04-14 18:10] #41 closed

[2015-04-22 10:07] #17 closed

[2015-04-22 10:08] #12 closed

[2015-04-22 10:11] #20 closed

[2015-04-22 10:20] rdmueller commented on #48
wrong templates have been removed

[2015-04-22 10:20] #48 closed

[2015-04-22 17:34] gernotstarke opened #49 "create distinct repository for "template content" and "generator""
as discussed between @rdmueller and myself during JAX-2015
- content-repo contains the master versions of the template in asciidoc, including help text
  and all required meta information, in all supported languages.
- content-repo contains a build that generates html versions of the available languages
- generator-repo takes the content from content-repo and creates the various output formats
  (

[2015-04-22 19:02] rdmueller commented on #49
* content-repo contains a build that generates html versions of the available languages

I would let the generator-repo create the html versions. It could also push them (not ziped) to the .io repo to publish it as online example. Then we would have all online viewable and downloadable content in the .io repo.

another addition

* let's activate the .io wiki (https://github.com/arc42/arc42.github.

[2015-04-22 19:08] gernotstarke commented on #49
sounds ok to me...

we need to prototype that scenario:
1.) generator takes original source from content,
2.) creates html,
3.) copies to arc42.github.io repo

sounds difficult to me - especially because you created the arc42.github.io repo without a gh_pages branch... (or did I miss that one?)

[2015-04-22 19:25] rdmueller commented on #49
arc42.github.io does not need a gh_pages branch because of its special function/name. It _is_ a gh_pages branch.

regarding the prototype: if the generator can assume that both other repositories are cloned into the same repository, it could just access those files and move them around (not many people will use this scenario).

But we could also add the content and .io repositories as subrepositor

[2015-04-22 19:37] gernotstarke commented on #49
please make it AS SIMPLE AS POSSIBLE...

(only you and me will ever use it, I assume...)

[2015-04-22 19:49] rdmueller commented on #49
ok. option 1 :-)

I just wonder about the naming...

we currently have
* arc42.github.io
* arc42-template

and I would like to change that to
* arc42.github.io (stays the same)
* arc42-template-master (for the content)
* arc42-template-generator (for the build script)

...but I wonder about the arc42-template repository. If we re-use it by renaming it, some links might break. But IMHO, the name wo

[2015-04-23 09:02] gernotstarke commented on #49
for me it would be ok to leave the existing arc42-template,
only reduce its responsibility to contain the master content only…

but you are free to decide. There are no important outside links I know of…

regards,
Gernot

[2015-04-23 17:57] monora opened #50 "gradlew.bat fails with Java 8"
Excuting gradlew under Java 8 fails:
[code]
See also http://discuss.gradle.org/t/using-a-map-in-build-gradle-throws-noclassdeffounderror-ljava-util-hashmap-entry/7325

Using gradle 2.3 to fixes the problem.

[2015-04-23 18:13] gernotstarke commented on #50
usually it shouldn't be required to build the template yourself, you should download one of the pre-built distributions...

We're currently updating the repo structure and content - so that you will get a more robust download and build environment (including sample gradle/maven build scripts together with the pure-template...)

sorry for the hassle,
Gernot

[2015-04-23 18:14] gernotstarke commented on #50
we should update the gradle/gradlew build to a more recent gradle version...

[2015-04-23 19:22] gernotstarke opened #51 "include (sample) gradle + maven buildfile into asciidoc distribution..."
so that prosective users can immediately start...
(with at least java or maven installed)

[2015-04-23 20:17] rdmueller commented on #51
may I add Grails to the list of sample build systems? I know, it is not as popular as maven or gradle... wait - Grails 3 is based on gradle :-)

IMHO, a ZIP with a full gradle/maven project would be great, but what about starting with some documentation on how to use the template with build system x and a link to a gist containing the needed sample build file.

We could use the wiki at https://git

[2015-04-24 06:01] gernotstarke commented on #51
imho gradle and maven are way more popular, so we should have at least those two...

[2015-04-24 18:09] #50 closed

[2015-07-14 07:57] predor23 opened #54 "German docx is in saved with editor hint"
https://dl.dropbox.com/u/45486/arc42-downloads/template-V6/DE/arc42-template-v60-DE.docx

This document contains many editor hints and modification proposals.

[2015-07-14 09:09] rdmueller commented on #54
Thanx! I'll check this asap...

[2015-09-13 19:12] gernotstarke opened #55 "create lazybones template"
to setup an empty asciidoc-based arc42 as simple as possible...

see https://github.com/pledbrook/lazybones

[2015-09-13 19:13] gernotstarke commented on #55
@rdmueller : you guys using lazybones anywhere in productive environments?
I'm quite impressed with its application within the Griffon framework- it does some heavy lifting there...
regards (from Zurich), Gernot

[2015-09-13 20:30] rdmueller commented on #55
@gernotstarke : yes, lazybones is cool. already started to work on an arc42 template, but then I was distracted by some other project.

We should definitifly work on this!

[2015-09-14 05:05] rdmueller commented on #55
I just remember the problem I faced:

lazybones helps to kickstart a new application. e.g. you have an empty folder.

With arc42, you want to _add_ documentation to a project. Thus you have to know which type of project (gradle, maven, ant?) and have to modify the build script.

But it would be already a good start if we create an ampty arc42 project which then can be merged manually into another

[2015-09-14 06:01] gernotstarke commented on #55
U're late-nighter and early-bird... rare combination :-)

good point - imho kickstarting an arc42 (asciidoc-gradle) project would be sufficient.

[2015-09-28 15:43] wuethrich44 opened #56 "LaTeX Template für arc42"
In meiner Schule benutze ich LaTeX um Dokumente erstellen und zurzeit dokumentiere ich ein Projekt von mir mit arc42. Deshalb habe ich eine Vorlage in LaTeX für eure Architekturdokumentation erstellt. Sie befindet sich auf Github unter folgendem Link:

https://github.com/wuethrich44/arc42-latex

Ich hoffe das ist oke für euch (Lizenz) und wenn ihr wollt könnt ihr das Template bei eurem Wiki hinzuf

[2015-09-28 18:42] rdmueller commented on #56
Das Template in LaTeX ist erstmal eine coole Idee!
Werde mal sehen, dass ich es verlinke.
In diesem Repository versuchen wir alle anderen Template-Versionen aus dem AsciiDoc Template zu erzeugen. Dadurch fällt die Pflege leichter. Wie ich gerade gesehen habe gibt es schon ein entsprechendes Backend:

- https://github.com/asciidoctor/asciidoctor-latex
- https://github.com/asciidoctor/asciidoctor/is

[2015-09-28 20:34] wuethrich44 commented on #56
Ok super ich werde mir das bei Gelegenheit mal anschauen und einen PR bereitstellen sobald es geklappt hat.

[2015-09-28 20:38] gernotstarke commented on #56
danke für Deine/Eure Mithilfe an arc42!
@wuethrich44 : möchtest Du Dein Projekt vielleicht als Beispiel für arc42-Nutzung
veröffentlichen? Wir suchen bei arc42 immer Beispiele...und in LaTeX haben wir bisher
noch nichts.
vG Gernot

[2015-09-28 20:47] wuethrich44 commented on #56
Die Arbeit ist erst in 3 Monaten abgeschlossen und dann werde ich mal schauen was sich veröffentlichen lässt, weil wir closed source entwickeln. Ich werde mich melden sobald ich mehr weiss.

[2015-12-16 09:05] gernotstarke opened #59 "Erläuterungstexte komplett überarbeiten"
im Zuge des Buchprojektes "arc42-in-Aktion" haben Peter + ich die Erläuterungen ziemlich aufgeräumt... das mal in einer neuen Version nachziehen...

[2015-12-16 15:26] gernotstarke opened #60 "Konzepte-Kapitel kürzen"
Konzepte-Themen primär als Checkliste aufnehmen, keine weiteren Erläuterungen mehr.

[2015-12-17 21:26] rdmueller commented on #60
Das vereinfacht das Template und unterstreicht den Checklisten-Charakter des Kapitel 8.
Auf der anderen Seite erleichtern die Erläuterungen den Einstieg in die Dokumentation mit arc42...

[2015-12-21 14:45] awws opened #61 "Unable to access dropbox files."
Hello,

I am unable to access the landing zone (http://confluence.arc42.org/display/LANDINGZON/landing+zone) download links for confluence material (https://dl.dropboxusercontent.com/u/45486/arc42-downloads/confluence/templateEN-V6-confluence-53.xml.zip). Would you make it available please.

Kind regards

Alex

[2015-12-21 14:51] gernotstarke commented on #61
you got a typo in the URL:

http://confluence.arc42.org/display/LANDINGZON/landing+zone
is alive and kicking...

(same for the dropbox-download-site)

might try the direct dropbox download:

https://www.dropbox.com/s/yvlkkozpt36rovr/templateEN-V6-confluence-53.xml.zip?dl=0 <https://www.dropbox.com/s/yvlkkozpt36rovr/templateEN-V6-confluence-53.xml.zip?dl=0>

Is there any referring site displaying b

[2015-12-21 14:53] gernotstarke commented on #61
the links are working - the confluence is up-and-running.

Reason COULD be firewall/proxy on your side - I mailed you a direct download link (see above too).

[2015-12-21 15:25] awws commented on #61
Sorry I wasn't clear - it wasn't confluence that wasn't working - its the link from the landing zone page on confluence to dropbox.
The link on the landing zone page 'for Confluence version 5.x or 6.x' results in a 403.
Thanks for sending me the correct link.

[2015-12-21 16:41] gernotstarke commented on #61
need to check that later on.

@awws : just in case you didn't know: you find an EN example of arc42 usage on
https://github.com/aim42/htmlSanityCheck

(its not confluence, but asciidoc... but at least you get an overview of how arc42 can be used on a practical example).

regards, Gernot

[2015-12-22 04:25] peterrecore commented on #61
I can confirm.  The link mentioned by @gernotstarke in this thread (https://www.dropbox.com/s/yvlkkozpt36rovr/templateEN-V6-confluence-53.xml.zip?dl=0) worked for me, but the link on the confluence page resulted in a 403, with dropbox suggesting I needed to log in.  (https://dl.dropbox.com/u/45486/arc42-downloads/template-V6/EN/arc42-template-v61-EN.docx

[2015-12-22 08:38] gernotstarke commented on #61
sorry for the bad links - I corrected the EN links and added another link to the HTMLSanityCheck example. Currently we have too little EN documentation and samples - I apologize...

[2015-12-22 17:52] gernotstarke commented on #61
right u are - the german downloads are still broken.

[2015-12-22 17:54] rdmueller commented on #61
sorry, wanted to add some text...
at least, the link from arc42.github.io is still broken... I will try to fix it.

[2015-12-22 18:03] rdmueller commented on #61
managed to fix two links - all others on arc42.github.io are still broken...

[2015-12-22 20:44] gernotstarke commented on #61
corrected the links.

[2015-12-22 20:44] #61 closed

[2015-12-22 20:47] gernotstarke commented on #61
@rdmueller  - could you pls check these links... as I'm the owner of the dropbox, I'm allowed access to all these files...
thx!!

[2015-12-22 21:27] rdmueller commented on #61
@gernotstarke all links are ok from my point of view - hope the random part of the link isn't some kind of session :-)

also updated the remaining links on arc42.github.io

[2016-01-06 15:38] neeleym opened #62 "Final gradlew command incorrect in README.adoc"
The final command to generate the templates in the README.adoc file shows this:

`gradle2 arc42`

It should read:

 `gradlew arc42`

[2016-01-06 15:48] gernotstarke commented on #62
thx for the hint :-)

[2016-01-08 11:49] basbossink opened #63 "gradlew createTemplatesFromGoldenMaster fails in :publish step"
I tried to run the above command but it fails. Running it with the `--stacktrace --debug` parameter gives the output as attached.

[publishFailure.txt](https://github.com/arc42/arc42-template/files/82628/publishFailure.txt)

[2016-01-10 19:30] rdmueller commented on #63
Thanx for creating this issue...

FYI - all templates generated by this project are also available from http://arc42.github.io/ - so if you only need the templates, please download them from there...

Regarding the exception - just gave it a try on my windows system: it seems to work. I will now give it a try on a linux system...

[2016-01-10 20:06] rdmueller commented on #63
hm. the build works for me on windows and linux.
the publish task is currently not used, but somehow your build fails because of this task.

I guess you problem will be resolved if you comment out this task:
https://github.com/arc42/arc42-template/blob/master/build.gradle#L140

[2016-01-11 20:37] rdmueller commented on #62
thanx - should be fixed now...

[2016-01-11 20:37] #62 closed

[2016-01-16 00:26] basbossink commented on #63
In hindsight I guess it makes sense that I'm not allowed to publish the locally generated templates to your github account. Maybe the getting started text can be amended to run a target in the gradle file that does not perform the publish task. Thanks for providing the link to all the templates I had not yet found them, that's why I was trying to generate them myself.

[2016-01-17 14:58] rdmueller commented on #63
as far as I remeber, the publish target isn't even used by us. It was copied from another script and not removed. Out initial goal was to build and publish through travis, but we ran into problems with the available pandoc version of travis.

So, If you just want to use one of the templates which are build by this project, please head over to arc42.github.io and download it.

If you need to transf

[2016-01-17 14:59] rdmueller opened #64 "Remove Publish target in build file"
see #63

[2016-01-17 15:00] rdmueller opened #65 "Change readme to reflect that most people only need to download the resulting templates"
see #63

[2016-01-26 16:09] gernotstarke commented on #55
closed as not relevant... people tend to "copy" an example... and creating the lazybones template would be quite some effort :-)

[2016-01-26 16:09] #55 closed

[2016-01-26 16:10] gernotstarke commented on #28
suggestion: close / wontfix... imho Textile is rarely used (and should be abandoned in favor of AsciiDoc anyway...)

[2016-01-26 19:22] rdmueller commented on #28
you are right - textile is rarely used, but we also already have a textile template :-)

[2016-01-26 19:22] #28 closed

[2016-01-26 19:36] #64 closed

[2016-01-26 19:45] #65 closed

[2016-01-26 19:46] rdmueller commented on #63
@basbossink the initial problem with the build script should now be resolve and thus I will close this issue now.

[2016-01-26 19:46] #63 closed

[2016-04-07 12:02] Christoph460 commented on #56
Hallo,
Wir würden in der Ausbildung gerne ein Latex Template verwenden, gibt es dabei eine aktuelle Version, gibt es diese auch auf English.
Danke für eure Hilfe!

[2016-04-07 12:04] gernotstarke commented on #56
Hi Christoph, "offiziell" supporten wir LaTeX nicht.
Aber vielleicht interessiert Dich ja https://leanpub.com/arc42byexample... das könnte Dir ggfs. ein paar Anregungen für Deine Arbeit geben.. (und ist Englisch...)

vG Gernot

[2016-04-07 13:18] Christoph460 commented on #56
Ok, Danke für deine Antwort. Derzeit habe ich eher ein wirkliches latex template gemeint, Trotzdem danke

[2016-05-16 19:04] rdmueller commented on #56
Hi! Es gibt für asciidoctor ein LaTex backend: https://github.com/asciidoctor/asciidoctor-latex

Man könnte also das Template konvertieren...

[2016-05-17 08:37] wuethrich44 commented on #56
Ich habe versucht das Template mit dem [LaTex Backend ](https://github.com/asciidoctor/asciidoctor-latex) zu konvertieren. Dazu müsste man aber ein Rubygem installieren und ich habe nicht herausgefunden wie das mit dem Gradle-Plugin funktioniert.

Mir ist es aber gelungen das Template mit `pandoc` zu konvertieren. Allerdings müsste ich vor und nach dem Dokument noch Text einfügen.

@rdmueller Kenn

[2016-05-17 19:35] rdmueller commented on #56
@wuethrich44 - für maven habe ich mal gesehen, dass es da einen speziellen Tag gibt.
Für Gradle habe ich das hier gefunden: http://asciidoctor.org/docs/asciidoctorj/#gem_path
u.U. müsste man mal ohne das asciidoc plugin arbeiten und asciidoctorj direkt aufrufen, nachdem man den gem_path gesetzt hat: http://saltnlight5.blogspot.de/2013/08/how-to-convert-asciidoc-text-to-html.html

Text vor und nach

[2016-06-16 19:32] rdmueller commented on #56
Thanx to @wuethrich44 , this issue can now be closed. Template is available for download at http://http://arc42.github.io/

[2016-06-16 19:32] #56 closed

[2016-07-14 08:32] barthel commented on #49
arc42 is a template by definition.
So I would suggest the following repo structure:

* arc42-golden-master: where the golden master for the 'plain' ond the 'with-help' is located
* arc42-generator: for the toolchain (scripts)
* arc42.github.io

[2016-07-14 19:18] rdmueller commented on #49
@barthel yes, I also agree that this structure sounds good. But I would stay with the naming "arc42-template". Maybe for the results of the generator.

[2016-07-15 05:52] barthel commented on #49
@rdmueller What do you mean with:

What exactly is the result of the generator? The arc42 template with help texts?

So it is difficult to get in brain: The arc42-template repo contains the template for the arc42 template.
So it is really important to use separate and unique names for both of them.
But it's my personal view.

The important task is to separate the toolchains from the golden master

[2016-07-15 05:59] rdmueller commented on #49
thanx for the feedback! it is highly welcome.

the generator takes the golden master (asciidoc) and creates the several output formats like markdown.
So, a user of arc42 only needs one of the output formats.
A contributer needs to take a look at the golden master or generator.

absolutely!

arc42-golden-master and arc42-generator are new repositories. I can easily create them over the weekend and

[2016-07-15 06:13] barthel commented on #49
That's a valid point.
From the modularity point of view we have to create a own project for the golden-master (contins only the content files) and consume this artifact in the generator project.

But this required a deployment to maven-central or similar.
It's charming to develop both in a separate timeline.
The generator must not be hard coupled with the golden-master and vice versa.

The second

[2016-07-15 06:21] rdmueller commented on #49
A binary repository like maven-central or bintray would be nice. I just imagine that I only have to state a dependency in my build and get the full template.

However, I have no experience with maven central or bintray. That's why I ould vote for the subrepository.

In addition, github handled the template-zip-files quite nice in the past. So I even would keep it this way for the moment: deploy th

[2016-07-15 06:26] barthel commented on #49
Ok. I'm onboard.

I'm a maven guy and not familiar with gradle.
But I've experience to bring something to maven-central ;-).

[2016-07-15 06:38] barthel commented on #51
I like the wiki idea instead of providing a ZIP file.

We could deploy show POM (Maven) an Gradle configuration examples in wiki beside a small HowTo section.

An additional and maybe more practical idea is to provide an specific [Maven archetype](https://maven.apache.org/guides/introduction/introduction-to-archetypes.html) to setup a new project including the arc42-template and the required Plugi

[2016-07-15 06:40] barthel commented on #39
Why not use the wiki and combine with #51 ?

[2016-07-15 07:45] rdmueller commented on #51
I am currently working on an gradle and maven archetype but I am not an expert regarding both tools. First blog posts are available on http://rdmueller.github.io

[2016-07-15 20:02] rdmueller commented on #49
@barthel can you send me an email so that we can exchange thoughts in a more direct way? You'll find my mail throught my profile...

[2016-08-17 21:08] rdmueller commented on #49
@gernotstarke @barthel I would like to make some progress. If you agree, I would like to:

- create repo arc42-master for the two asciidoc master templates (with help)
- create repo arc42-generator for the gradle scripts which create all other templates
- arc42-template will contain the generated templates to be downloaded
- move https://github.com/arc42/arc42-template/tree/master/src/(DE|EN)/asci

[2016-08-18 01:25] gernotstarke commented on #49
Perfect, go ahead...

Best, Gernot

Dr. Gernot Starke
+49-177-7282570
gs@gernotstarke.de
www.gernotstarke.de

Von einem mobilen Geraet gesendet - bitte verzeihen Sie eventuelle Tippfehler.

[2016-08-20 10:09] rdmueller commented on #49
Update: I decided to clone the arc42-template repository into the arc42-master repository in order to keep the history. But since the files where moved within the repository, the github frontend will not show the full history.
Use `git log --follow .\01_introduction_and_goals.adoc` to retrieve the full history.

I will do the same for the arc42-generator

[2016-08-20 21:33] rdmueller commented on #49
Update: first version of arc42-generator uses arc42-master as submodule and build the templates

Readme still needs an update

[2016-09-04 20:04] rdmueller commented on #49
forked docToolchain to arc42

[2016-12-19 10:06] Towabohu opened #68 "Link to HtmlSanityChecker on Confluence LandingZone is broken"
Moin, moin arc42-Team,

on the confluence landing page (http://confluence.arc42.org/display/LANDINGZON/landing+zone) the Link to the introductory example, the HtmlSanityChecker, is broken.

Probably it should be: http://aim42.github.io/htmlSanityCheck/hsc_arc42.html

Best wishes and nice x-mas

Mischa

[2016-12-19 15:21] gernotstarke opened #69 "Neues Diagramm zur Erklärung der Bausteinsicht"
neue Version von graffle-Diagramm liegt lokal schon vor - für template als png exportieren (DE und EN)

[2016-12-19 18:41] gernotstarke commented on #60
1. Erläuterungen zu den Themen komplett aus Template raus, in "Hilfe" verschieben.
2. als Vorschläge aufnehmen:
    * Batch-/Stapel-Verarbeitung,
    * Drucken,
    * Reporting und
    * Archivierung.

[2016-12-19 18:44] gernotstarke commented on #8
not many links in template - not worth the effort.

[2016-12-19 18:44] #8 closed

[2016-12-19 18:45] gernotstarke commented on #23
I suggest to drop the ebook version - people imho don't read that (but books "about" arc42).

[2016-12-19 18:45] #23 closed

[2016-12-19 18:45] gernotstarke commented on #36
I don't understand that... can we close it?

[2016-12-19 19:12] gernotstarke opened #70 "build failure: "gradle arc42" fails with fatal exception..."
MadZorg42:arc42-template gstarke$ gradle arc42

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/gstarke/projects/arc42/arc42-template/build/src_gen/DE/asciidoc/plain/build.gradle' line: 28

* What went wrong:
A problem occurred evaluating project ':/build/src_gen/DE/asciidoc/plain/'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug optio

[2016-12-19 19:29] gernotstarke commented on #70
commented out the following

    task build () << {}

then it worked...

[2016-12-19 19:30] gernotstarke commented on #70
I've NO idea why the empty task was included ( @rdmueller -> you wrote that code...),
if nobody objects, I'll remove it...

[2016-12-19 19:30] gernotstarke opened #71 "bump up gradle + gradle-asciidoctor-plugin versions"

[2016-12-19 19:35] gernotstarke commented on #6
I'd be VERY interested to add confluence to the supported build targets:

* it needs to be a version that can be "imported" into an existing space
(so it does not need to be a space on its own)
* the "with-help" version should contain help as "show-on-demand"
* we might even skip the "plain" version...

[2016-12-19 19:50] gernotstarke opened #72 "remove everything related to "gh_pages""
I propose to re-organize website-creation...

- I will create a new repo (template-help), containing an extensive version of the "help", with links to the faq-site
- I will create a new version of the arc42.org site - this time likely to be hosted on github (and build by jekyll)
- template-downloads shall be linked from arc42.org AND arc42.de, so we need stable URL's for that.

[2016-12-19 20:03] rdmueller commented on #70
nobody objects. I was included to make it work with netbeans, but this should be an old workaround

[2016-12-19 21:18] rdmueller commented on #6
the docToolchain can handle confluence - but not as import:

It generates HTML from AsciiDoc and publishes this as several pages to confluence. Help is published as "show-on-demand".

This enables you to

- specify a page prefix... interesting for users who can't create new confluence spaces (corporate confluence)
- export the confluence space afterwards (may be could automate this...)
- docToolch

[2016-12-19 21:23] rdmueller commented on #70
it seems that you get the exception because you use a newer gradle version.

the gradlew works fine.

[2016-12-19 21:24] rdmueller commented on #71
docToolchain uses current versions of all tools.
we can use it as blue print for bumping up the versions

[2016-12-27 15:36] gernotstarke opened #73 "Generator bug: Abschnitt "Form" fehlt bei Kontextabgrenzung DE"

[2016-12-27 15:36] gernotstarke opened #74 "Generator-Bug: Hinter Inhalt, Motivation und Form steht jeweils ein ".""
im asciidoc-Source jedoch nicht...

[2016-12-27 21:25] rdmueller commented on #73
an dieser Stelle?
http://arc42.github.io/template/de/arc42-template.html#section-system-scope-and-context

[2016-12-28 09:13] gernotstarke commented on #73
its in the v70 branch, we found the bug in the generated docx, didn't check in other formats

[2016-12-28 09:16] rdmueller commented on #73
Ok ist the html ok? So maybe an update of pandoc  might fix this...

[2016-12-28 09:23] gernotstarke commented on #73
will check this afternoon...

[2016-12-28 16:38] gernotstarke commented on #74
im docx und in epub auch. Bei HTML fehlen die Hilfetexte komplett :-( (siehe #75)

[2016-12-28 16:40] gernotstarke opened #75 "help text missing in generated HTML"
html/with-help/arc42-template.html lacks help...

[2016-12-28 16:59] gernotstarke commented on #73
the docx has really strange bugs. I removed a few space-characters from the asciidoc source, now the corresponding section in docx reads (now the headling "Form" is missing...):

Kontextabgrenzung
Inhalt.
Die Kontextabgrenzung grenzt das System von allen Kommunikationspartnern (Nachbarsystemen und Benutzerrollen) ab. Sie legt damit die externen Schnittstellen fest.
Differenzieren Sie fachlichen Ko

[2016-12-28 17:12] gernotstarke commented on #73
seems to be asciidoctor issue:
The following works:

    .Form
    Alternativ als Diagramm und/oder Tabelle:

    * Diverse Kontextdiagramme
    * Listen von Kommunikationspartnern mit deren Schnittstellen

and the following does NOT work (it does not show the heading "Form":

    .Form

    * Diverse Kontextdiagramme
    * Listen von Kommunikationspartnern mit deren Schnittstellen

due to the sen

[2016-12-28 17:12] gernotstarke commented on #73
btw - I'm running pandoc 1.19.1

[2016-12-28 19:46] gernotstarke commented on #75
aah - my fault: it's rendered hidden, appears when hovering over question-mark symbol.....

might change the css (style) a little... will close this issue, though.

[2016-12-28 19:46] #75 closed

[2016-12-28 19:47] gernotstarke commented on #60
in V7 it has been REALLY shortened :-)

Ausführliche Erklärungen wandern in Hilfe und/oder FAQ.

[2016-12-28 19:47] #60 closed

[2016-12-28 19:48] gernotstarke commented on #59
done in branch V70 - will merge this into master soon :-)

[2016-12-28 19:48] #59 closed

[2017-01-08 10:05] gernotstarke opened #76 "remove unneeded output formats"
keep:
docx, asciidoc, markdown, confluence

remove:
the rest (latex, textile, docbook, epub, markdownMP, html

[2017-01-08 10:06] gernotstarke commented on #76
aah - the reason:

* imho too few people needs the others
* quality checks with all formats is too expensive (I manually checked markdown and docx,
both are seriously broken and not usable without modification.

[2017-01-08 10:08] gernotstarke commented on #35
close this - pdf as output format is not useful for practical work (as nobody will EDIT an architecture documentation in pdf)

[2017-01-08 10:08] #35 closed

[2017-01-08 10:08] gernotstarke commented on #4
good enough

[2017-01-08 10:08] #4 closed

[2017-01-08 11:43] gernotstarke commented on #73
IS an asciidoc issue - we have to separate a "unnumbered list" from a heading by at least
one line of plain text...

[2017-01-08 11:43] #73 closed

[2017-01-08 11:44] gernotstarke commented on #70
not great, but I close this one. As long as the gradlew works, it's acceptable.

[2017-01-08 11:44] #70 closed

[2017-01-08 12:23] gernotstarke opened #77 "currently image-directories are handled strangely..."
There are currently two dirs:

    ./src/DE/images,
    ./src/images

the first build step (createTemplatesFromGoldenMaster) copies over
the contents from the DE/images dir to src_gen...

imho handling would be easier to have ONE location that's outside
the DE directory, but that would mean to update the build process accordingly...

[2017-01-08 12:34] gernotstarke commented on #77
I deleted the "outer" directory to remove duplication. Build is now clean, albeit strange (to have EN images copied over from DE directory).

[2017-01-08 13:07] rdmueller commented on #76
hm. At least we should keep instructions on how to generate the other formats...

docbook - is an intermediate format for docx for instance
html - is nice to show the template on the net...
epub - I still dream of reading arc42 documents on an ebook reader

But I do understand that we should limit the formats in order to raise quality.

[2017-01-08 13:58] gernotstarke commented on #76
epub: yes - a "completed" architecture documentation, but not the empty template...

I understand the requirement to keep docbook as intermediary - but I wouldn't offer it for download...

[2017-01-08 20:18] rdmueller commented on #49
generator fixed for v6 template

[2017-01-08 20:31] rdmueller commented on #49
@gernotstarke : here are the next steps we should do:

- arc42-generator is the new project which generates all other format from the golden master
- arc42-master is the new golden master

- [ ]  we have to merge the new v7 version from arc42-template into the arc42-master (it is a clone from the master branch of arc42-template - don't know if this helps). The simplest way would be to copy the v7

[2017-01-08 20:52] rdmueller commented on #49
just checked the new generator vs old template project with v70 content - results are identical.

@gernotstarke as soon as you are finished with v70, I would like to merge it with full history into arc42-master

[2017-01-09 07:03] rdmueller commented on #77
There is now an "outer" directory which contains all images for the generator.
It could be that for development of the templates, these images have to be copied down to the corresponding adoc folder.
I guess that was the reason why the structure was  so strange...

[2017-01-09 07:04] gernotstarke commented on #77
thx

[2017-01-09 07:04] #77 closed

[2017-01-09 07:17] gernotstarke commented on #49
Ralf,

arc42-template has 32 forks and 91 stars - whereas arc42-master has only two forks …

I suggest to:

* slightly modify your proposal below, to make „arc42-template“ the „golden master“…
* modify the documentation accordingly
* remove all the unneeded stuff from arc42-template (but we keep the history)
* later remove arc42-master

kind regards,
Gernot

[2017-01-09 07:51] rdmueller commented on #76
Ok.
All format can be easily configured in the generator. We just have to decide if we disable them already in the generator or just don't offer them for download.

For confluence, we still have to discuss the waye will generate it.

[2017-01-09 15:11] gernotstarke commented on #69
done

[2017-01-09 15:11] #69 closed

[2017-01-09 15:11] gernotstarke commented on #49
done:

arc42-template for the content,
arc42-generator for the generator.

perfect, will close this issue

[2017-01-09 15:11] #49 closed

[2017-01-09 15:12] gernotstarke commented on #14
done, good enough.

[2017-01-09 15:12] #14 closed

[2017-01-09 15:13] gernotstarke commented on #54
fixed with generated version.

[2017-01-09 15:13] #54 closed

[2017-01-09 15:13] gernotstarke opened #78 "interface-table (EN version) is missing table outline"
see "stakeholder table" for a correctly formated table

[2017-01-09 15:18] #78 closed

[2017-01-09 15:23] gernotstarke commented on #72
done, close here

[2017-01-09 15:23] #72 closed

[2017-01-09 15:31] gernotstarke commented on #74
strange:

obviously, it's ok in the asciidoc source:

* it's ok in HTML
* it's ok in Markdown
* it's ok in docbook

* it's NOT ok in docx

seems to be related to arc42help role... but I don't understand how...

[2017-01-10 13:59] Humbalan opened #79 "Blackbox Template - typing error"
1. In the info box table row "Open issues": missing ">" at the end of the line.
2. In the 2nd info box "for confluence users": missing closing quotation marks after "blackbox-table
3. Red text "ICH FINDE DIE ZWEITE VARIANTE NICHT!!": not clear that the heading at the end of the page (Blackbox <X> (headings)) is the mentioned "ZWEITE VARIANTE".

[2017-01-10 14:03] gernotstarke commented on #79
Thx, which format (docx, markdown, html..) are you referring to?

Regards, Gernot

Dr. Gernot Starke
+49-177-7282570
gs@gernotstarke.de
www.gernotstarke.de

Von einem mobilen Geraet gesendet - bitte verzeihen Sie eventuelle Tippfehler.

[2017-01-10 18:08] Humbalan commented on #79
Thank you for your quick answer. I forgot to write that I am working with the Confluence template for Confluence 5/6

[2017-01-10 18:21] gernotstarke commented on #79
@Humbalan : We're **very** short of releasing arc42 version 7 - a major overhaul of nearly everything involved:  we keep the structure completely intact, but refactored all the help-texts.

The confluence template will (hopefully within the next 2-3 weeks) be completely generated from
the asciidoc source.

You can get a preview on http://docs.arc42.org.

[2017-01-10 20:52] rdmueller opened #80 "create confluence output"
- [x] get confluence cloud instance
- [x] test a first export with docToolchain

https://arc42-template.atlassian.net/wiki/collector/pages.action?key=DOC

This is the "flat" export - one page per chapter. There is also a "deep" export which creates a deeper structure.

currently template V6

[2017-01-10 21:16] gernotstarke commented on #80
how can I further motivate you?? (in addition to stalking the issue tracker...)

[2017-01-10 21:16] gernotstarke commented on #80
why not try with V7...

[2017-01-11 07:43] Humbalan commented on #79
Had a look at it. tkx for the info. The new version containes a lot of helpfull information!

[2017-01-11 07:43] #79 closed

[2017-01-16 13:59] monofone opened #81 "Broken link 2.3.20. Stakeholder Analysis"
Beneath the **References** is a link placed _arc42 example stakeholder table_ pointing to https://github.com/arc42/arc42-template/blob/master/src/DE/asciidoc/plain/src/kap01.adoc, this link gives a 404 on github.

Nice write though

[2017-01-16 20:40] rdmueller commented on #81
Thanx for the feedback.
Do you have a link to the file where the 404 is in?

[2017-01-16 21:26] monofone commented on #81
https://aim42.github.io/#Stakeholder-Analysis

-------- Original message --------
From: "Ralf D. Müller" <notifications@github.com>
Date: 16/01/2017  21:40  (GMT+01:00)
To: arc42/arc42-template <arc42-template@noreply.github.com>
Cc: Sören Rohweder <s.rohweder@blage.net>, Author <author@noreply.github.com>
Subject: Re: [arc42/arc42-template] Broken link 2.3.20. Stakeholder Analysis
  (#81)

Thanx

[2017-01-16 21:52] rdmueller commented on #80
Progress! V6 and V7 is out and it helped to discover and fix a bug in docToolchain.

Now I need to fix the missing first page...

[2017-01-18 08:03] monofone commented on #81
Oh,  I found the right place for the Issue, I didn't realized that arc42 and aim42 are different organisations. New Issue at https://github.com/aim42/aim42.github.io/issues/1

[2017-01-18 08:03] #81 closed

[2017-01-21 17:07] gernotstarke opened #82 "move legacy confluence versions from dropbox to github repo"
so we have more uniform download links/filenames...
AND don't need to keep Dropbox as download location.

[2017-01-22 08:46] gernotstarke commented on #76
close this - current state seems ok for everybody

[2017-01-22 08:46] #76 closed

[2017-01-22 08:47] gernotstarke commented on #6
we can create confluence space - therefore I close this...

[2017-01-22 08:47] #6 closed

[2017-01-22 08:48] gernotstarke commented on #68
the landing page has been superseeded by a new version, link has been corrected.

thx, Mischa, for reporting...

[2017-01-22 08:48] #68 closed

[2017-01-22 09:22] gernotstarke opened #83 "move EAP (Enterprise-Architect) downloads to github repo"
to even further centralize downloads

[2017-01-22 09:23] gernotstarke opened #84 "create VisualParadigm template for arc42"

[2017-01-25 19:45] gernotstarke commented on #82
done.

[2017-01-25 19:45] #82 closed

[2017-03-10 07:54] ecsgz opened #87 "Rhapsody format"
...request for format for other modelling tools similar to Enterprise Architect format (http://arc42.org/download): here, a format for IBM Rational Rhapsody.

Thank you for reading and maybe considering this issue/request!

[2017-03-10 08:42] gernotstarke commented on #87
thx for your request.

Currently none of our committers and contributors is actively working with Rhapsody,
therefore we're lacking the required knowledge and experience to create that format.

In case you use Rhapsody, we'd be most happy to accept any contribution from you,
we could include it on the arc42 download site and, of course, refer to you as author (if you like).

In case you need any s

[2017-03-13 19:20] johannes-brunner opened #88 "asciidoc template must be modified after download"
If someone downloads the asciidoc template, then all the *.adoc files (except arc42-template.adoc) needs to be moved to a folder called src to generate a valid output document.
If you use the downloaded files directly as is, then you will get an error, because the include statements in ar42-template.adoc won't work out of the box.

Would be nice if the asciidoc template can be used as it is, witho

[2017-03-13 19:41] rdmueller commented on #88
thanx for the reminder!

[2017-03-26 21:39] rdmueller commented on #88
see also https://github.com/arc42/arc42-generator/issues/11
fixed, but I still want to test it...

[2017-03-27 19:15] #88 closed

[2017-04-06 11:26] ecsgz commented on #87
Hi Gernot, thank you for your reply and for the possibility for extension and contribution, this sounds good! Give me some time and I hope to get back to this and contribute directly with a first Rhapsody example format, if not already done by another person before...

Best regards, ecsgz

[2017-04-08 22:46] rdmueller opened #89 "html entity &rarr; leads to error with pdf generator"
the english version of chapter 8 contains the html entity `&rarr;` which renders correct as HTML but leads to following error when using `asciidoctorj-pdf`:

`Failed to parse formatted text:`

I suggest to replace the entity with "=>" or just "=" as in the german version.

[2017-04-11 18:10] #89 closed

[2017-04-11 18:11] gernotstarke commented on #89
changed to "=".

The underlying problem seems to result from asciidoctor itself... which can currently only parse 4- and 5-digit html entities...

[2017-04-11 18:11] gernotstarke commented on #89
@rdmueller I did NOT generate a new download-release... I leave the pdf generation completely to you

[2017-04-11 19:26] rdmueller commented on #89
thanx. will check it later today

[2017-04-11 21:39] rdmueller commented on #89
all formats but confluence updated.

[2017-04-11 22:18] rdmueller commented on #89
updated confluence pages at https://arc42-template.atlassian.net/wiki/

[2017-04-22 16:43] rdmueller commented on #36
sorry, yes, let's close it

[2017-04-22 16:43] #36 closed

[2017-04-28 10:59] sja opened #90 "Plain contains hint to use Plain"
There is a Note at the first page, which tells to use the plain version. I think that should be only in the version with help.

[2017-04-28 11:12] rdmueller commented on #90
good point

[2017-04-28 15:10] gernotstarke commented on #90
Sebastian, I'm lost: On which "first page"? Could you please attach a screenshot... thx

[2017-04-28 15:24] sja commented on #90
Sure, here is the German docx _Plain_ 1st page: https://www.dropbox.com/s/3llhrl4nq41omoy/Screenshot%202017-04-28%2017.23.02.png?dl=0
Note that  _**Note**_ :-)

[2017-04-28 15:27] gernotstarke commented on #90
aah - now I understand.
[code]

[2017-04-28 15:31] sja commented on #90
The problem is not the motivation but the time to do that.
Give me this weekend, maybe I can create a PR.

[2017-04-28 15:53] gernotstarke commented on #90
intention appreciated :-)

[2017-05-03 10:51] #90 closed

[2017-07-07 08:40] schlauch opened #93 "Support for the ReStructuredText format"
* https://en.wikipedia.org/wiki/ReStructuredText
* Is often used in the Python community together with Sphinx: http://www.sphinx-doc.org/en/stable/
* Sphinx is really interesting as it can glue together "normal" documentation and code comments. This is quite interesting as you can keep important information next to the code. But you can also "compile" it into your architecture documentation.

[2017-07-07 09:16] gernotstarke commented on #93
Yeah, Sphinx is really well-known.

We definitely keep RST on our feature wishlist :-)

thanx for reminding us... (Tobias @schlauch , you may go forward and create a converter within our build-chain... in case of doubt,  @rdmueller might provide additional hints...)

[2017-07-07 13:08] schlauch commented on #93
I would like to try. But it would be great if you could give me some hints about where to start...

[2017-07-07 13:32] gernotstarke commented on #93
Tobias,

there are actually two repositories required for this task:

* THIS one (arc42-template), and
* the [arc42-generator](https://github.com/arc42/arc42-generator)

I'll try a short version (@rdmueller might correct me...)

* The generator includes the template as github sub-module... It's implemented around Gradle.
* major portions are delegated to pandoc, a versatile (open-source) format co

[2017-07-07 15:52] schlauch commented on #93
Ok. Documentation is fine. It managed to clone and build it quite easily. Although I personally prefere the HTTPS URL for cloning.

In addition, I managed to locally create a "convert2rst" task. As pandoc directly supports rst, it is was quite easy to make it work. The only thing one needs to understand is that a specific localBuildDir.rst variable is only defined, if you add "rst" to formats defi

[2017-07-07 16:04] schlauch commented on #93
Here is the corresponding pull request: https://github.com/arc42/arc42-generator/pull/16

[2017-07-07 20:13] rdmueller commented on #93
Hey, this went quite well...
the new templates are available here:
https://github.com/arc42/arc42-template/tree/master/dist

@schlauch - do you use read the docs? Does it make sense to publish these new templates as example to read the docs?

[2017-07-08 08:21] gernotstarke commented on #93
Ralf, you mean [ReadTheDocs](https://readthedocs.org/), don't you?

[2017-07-08 08:22] gernotstarke commented on #93
I just updated http://arc42.org/downloads accordingly.

Added a short "format-overview" section to briefly explain the various download formats.

[2017-07-08 08:24] gernotstarke commented on #93
Thanx @schlauch for adding rst support. Just updated the arc42.org/download page to include rst.

[2017-07-08 08:24] #93 closed

[2017-07-08 09:03] rdmueller commented on #93
@gernotstarke yes, the ReadTheDocs website...

[2017-07-08 12:31] schlauch commented on #93
@gernotstarke : No problem! It did not take so much time to make it work. Particularily, as I am already familiar with pandoc...

[2017-07-08 12:37] schlauch commented on #93
@rdmueller: I know readthedocs more from the user perspective. But maybe it could be worth to put it there as an example. But in that case I would suggest to use the "with help" version....

[2017-07-08 12:40] schlauch commented on #93
@gernotstarke : In the description of the rst format: "heavily used by [ReadTheDocs] and in the " => is the [ReadTheDocs] intentionally or should be a link to readthedocs??

[2017-07-08 15:37] gernotstarke commented on #93
Yeah, should have been...

Seems I forgot...

Dr. Gernot Starke
+49-177-7282570
gs@gernotstarke.de
www.gernotstarke.de

Von einem mobilen Geraet gesendet - bitte verzeihen Sie eventuelle Tippfehler.

[2017-07-09 07:53] gernotstarke commented on #93
fixed missing readTheDocs link.

[2017-08-30 13:08] nrnjnsk83 commented on #87
Dear Gernot, ecsgz,
I am Niranjan SK you can address me as SK, SW architect @Bosch. We have a arc42 rhapsody profile established which can be used for both SW and System architecture. We have also established even the report generation based on IBM RPE.
As an example we tried arc42 for arc42 within Rhapsody to explain the various views with report generation.
We would like to contribute this profi

[2017-08-30 13:49] gernotstarke commented on #87
Niranjan,

thanx for your offer. We (arc42.org) would include this profile in our download page on the arc42.org site.

I currently don't know of other organizations using Rhapsody with arc42, though... and I personally cannot test/use it as I don't have Rhapsody installed.

You could simply create a pull-request...

regards, Gernot

[2017-09-14 07:41] gernotstarke opened #94 "Integrate Spanish translation"
@isidorotrevino has created a Spanish translation - integrate that into the template.

Optimal version:

@isidorotrevino opens a PR and I will integrate that.

Workaround:
copy the files from @rdmueller docToolChain repository...

[2017-09-19 20:25] gernotstarke commented on #94
merged the PR from @isidorotrevino

[2017-09-19 20:25] #94 closed

[2017-09-20 10:20] rdmueller opened #96 "Generate spanish format of the template"
now that we have a spanish translation, the other formats (besides asciidoc) have to be generated.

related to https://github.com/arc42/arc42-template/issues/94

[2017-09-20 10:23] rdmueller commented on #96
fixed with https://github.com/arc42/arc42-template/commit/2bd1fa2cbbd2c646a6c08ec2e705ba7faabef7ed

[2017-09-20 10:23] #96 closed

[2017-09-20 10:24] rdmueller opened #97 "create Confluence Version of Spanish template"

[2017-09-20 10:58] rdmueller commented on #97
https://arc42-template.atlassian.net/wiki/spaces/7SES/pages
https://arc42-template.atlassian.net/wiki/spaces/7FES/pages

[2017-09-20 11:04] rdmueller commented on #97
exported and pushed confluence spaces

[2017-09-20 11:04] #97 closed

[2017-09-20 11:08] rdmueller opened #98 "Reference spanish templates from arc42.org"

[2017-10-09 16:54] nrnjnsk83 commented on #87
Dear Gernot,
I tried creating a pull request, i am new to git-hub and looks like i am in a wrong branch. Could you please help me out to contribute and update the wiki

Regards
SK

[2017-10-09 19:03] gernotstarke commented on #87
Dear SK, thanx for your pull-request, which actually did not contain your zip-file.

I just created a "rhapsoy" subdirectory in the template repository:

**Fork** the arc42-template repository,
and **checkout** the latest version of this repo to your local machine.

Switch to `master` branch:

    git checkout master

Then:

    cd ./arc42-template/other-formats/rhapsody

Then copy your files into

[2017-10-10 11:37] nrnjnsk83 commented on #87
Dear Gernot,

Thanks for the hints i managed to push the zip file on to the master branch. could you please verify? What about wiki is there any possibility for me to modify as well?

Regards
SK

[2017-10-10 12:26] rdmueller commented on #98
I think this is already fixed...

[2017-10-10 12:26] #98 closed

[2017-10-10 12:43] gernotstarke commented on #87
SK, you're not allowed to push onto the arc42-template master, you can only push to your personal fork of this repo...

Now you need to open a new pull request (from your fork to this repo)...

(reason is that only a few arc42-committers have rights to push changes...)

[2017-10-10 13:49] nrnjnsk83 commented on #87
Ha Okay Gernot, i pushed into my personal fork. No i created a pull request from my personal fork. Could you confirm whether you are able to push into arc42-template master after your review

[2017-10-10 13:52] gernotstarke commented on #87
merged this PR into master!

will include it into the arc42.org <http://arc42.org/> downloads later today…

thanx,
Gernot

[2017-10-10 13:54] nrnjnsk83 commented on #87
Super thanks a lot!

[2017-10-10 15:04] nrnjnsk83 commented on #87
Dear Gernot,
Sorry, i forgot to mention Robert Bosch GmbH in my description. Could you please add Niranjan SK, Robert Bosch GmbH also in the download page some where.

Regards
SK

[2017-10-10 18:27] gernotstarke commented on #87
done, you're mentioned in the Rhapsody download section...

[2017-10-10 18:28] gernotstarke commented on #87
@ecsgz : please try out this latest contribution... I personally don't have access to a Rhapsody installation..

[2017-10-11 13:17] nrnjnsk83 commented on #87
Dear Gernot,
I cant see the link to download the rhapsody profile zip file in the Rhapsody download section.

Regards
SK

[2017-10-11 13:19] gernotstarke commented on #87
http://arc42.org/download#ibm-rhapsody-format

(it might happen that your browser caches on out-of-date version of the page)

[2017-10-11 13:24] nrnjnsk83 commented on #87
i am able to see the ibm-rhapsody-format but the link to zip file like how we have for EA is somehow not able to see.  I changed even the browser and it is the same, no link to download zip file like EA

[2017-10-11 13:28] gernotstarke commented on #87
aaargh - sorry... my fault. will correct that asap...

[2017-10-11 13:36] nrnjnsk83 commented on #87
Cool!
in my previous comment with regards to contribution, i meant more than my name Robert Bosch GmbH as a contributor would be better as this is a joint activity together here at Bosch.
What is your opinion?

[2017-10-11 15:49] gernotstarke commented on #87
both.

[2017-10-11 19:12] gernotstarke commented on #87
fixed the download link + verified it works...

[2017-11-16 21:20] rdmueller opened #101 "asciidoc: preprocessor-directives to turn arc42help sections on an off"
see https://github.com/docToolchain/docToolchain/issues/117 :

in docToolchain, the templates already have been transformed.
The new template will enable a better handling of the asciidoc templates and migh enable a refactoring of the arc42-generator

[2017-11-23 13:18] gernotstarke opened #103 "translate Spanish graphics and export to png/jpg"
The Spanish version of the template currently contains English graphics - those should
be translated.

The original graphics are provided in the "/graphics-originals" directory.

@jakubjab @xicu

[2018-01-11 16:13] gernotstarke opened #104 "explain setup of confluence template in cloud-hosted confluence"
please briefly explain how to import our confluence template
in a cloud hosted confluence...

(optimal would be a step-by-step, screenshot-supported docu...)

[2018-01-11 21:43] #87 closed

[2018-01-11 21:44] #80 closed

[2018-01-11 21:44] gernotstarke commented on #83
long done...

[2018-01-11 21:44] #83 closed

[2018-01-11 21:55] rdmueller commented on #104
I guess on the cloud hosted instance, you are missing the admin access to import the template directly.

So, I only see a solution in importing it through the rest API via docToolchain. Unfortunately, we don't have much documentation about this yet.

Here is one fragment: https://doctoolchain.github.io/docToolchain/#_publish_on_confluence

A better documentation can be found here: https://arc42-te

[2018-02-27 19:47] gernotstarke opened #105 "add description of markdownMP in table"
on the download page there's a brief description of all the download-formats - except the newly integrated markdownMP...

@anrichter - if you have two minutes to spare :-)

[2018-02-27 20:19] anrichter commented on #105
Created PR in arc42.org-site project https://github.com/arc42/arc42.org-site/pull/14

[2018-02-27 21:30] gernotstarke commented on #105
fixed by @anrichter via PR

[2018-02-27 21:30] #105 closed

[2018-02-27 21:35] gernotstarke opened #106 "wrong image link"
https://github.com/arc42/arc42-template/blob/master/EN/asciidoc/src/05_building_block_view.adoc
contains a wrong image link.

Might be a problem on github only - need to verify in built-artifacts.

(problem was reported via [Twitter](https://twitter.com/leonardcapacete/status/968564623132721152))

[2018-02-27 22:14] rdmueller commented on #106
I've just tested this with docToolchain - it builds fine, the image is referenced the right way.
So it seems to be the problem that github ignores the `imagesdir` definition from tha main file ...

[2018-02-28 06:14] gernotstarke commented on #106
thanx Ralf, so this is github not respecting our imagedir def - I'll close this issue.

[2018-02-28 06:14] #106 closed

[2018-03-21 19:26] chris2k2 opened #107 "Add Template in Github Markdown"
It would be nice to have a template in Github/GitLab markdown.

* Usage of Markdown, without the non supported extras currently used in the md packages
* Have "main file" of each chapter in a README.MD for a nice overview

This should be cool for github projects, who want to use markdown instead of asciidoc and for Gitlab users, since asciidoc is not supported there.

[2018-03-21 19:30] chris2k2 commented on #107
see PullRequest #108

[2018-03-21 20:58] rdmueller commented on #107
What are the "non supported extras" - can you name them?

As I do understand, the already existing .md files need some extra modifications in order to directly use them on github and gitlab - correct?

Your files basically use the `readme.md` mechanism which automatically renders the files instead of having to click on them.

And these files only contain the structure, not the help texts.

So, in

[2018-03-22 09:15] chris2k2 commented on #107
Not all of them. I just noticed some things which did not work. I did not find anything on google, how they differ. The ones I saw are:

* Headers are usually done differently in github MD ( \# notation)
* Tables do not work the same
* includes do not work
* references like used in the arc42 template do not work

Yes, that's right.

 sounds like a way better solution and minimizes copy-pasting of

[2018-07-17 08:36] MarkusTiede opened #112 "Asciidoctor template is missing default "css/style.css""
All asciidoctor templates are missing a default "css/style.css" leading to

- warnings during build
- non-optimal output e.g. in HTML when just building and publishing the original template document

[2018-07-17 08:38] gernotstarke commented on #112
Markus, thanx for the hint. Any chance you could provide a PR to improve this situation?
(@rdmueller - did you know that?)

[2018-07-18 05:32] gernotstarke commented on #84
will close that, there seems to be no interest in it.

[2018-07-18 05:32] #84 closed

[2018-07-18 05:38] gernotstarke commented on #51
@rdmueller - we could provide links to our HHGDAC examples...  that could be done with an improved readme.md... will look into updating docs.arc42.org accordingly.

[2018-07-18 06:08] rdmueller commented on #107
with your github/gitlab template, it should be easy to check through a diff what exactly has to be changed from the original markdown files.

maybe we could apply those changes via regexp to the already existing md files in order to come up with github md files which look the same as yours (#108)?

if only I would have more time...

did you ever work with beyond compare? because this would give a

[2018-07-18 06:13] rdmueller commented on #51
wow. this now ooen for quite a long time...
the gradle archetype evolved into @docToolchain . But I do agree that better examples on how to use it would help...

[2018-10-05 17:45] rdmueller opened #114 "update templates"
templates have to be regenerated with some new fixes (images, git flavoured markdown)

[2018-10-05 18:03] #107 closed

[2018-10-05 18:07] #114 closed

[2018-12-20 07:46] gernotstarke opened #117 "include RU version in download-section"
@rdmueller could you please generate the output documents...

I'll check and maybe update the arc42.org site when you completed the doc-generation

[2018-12-20 08:17] rdmueller commented on #117
already at my machine...

[2018-12-20 10:10] rdmueller commented on #117
downloads are available:
https://arc42.org/download

[2018-12-29 10:18] gernotstarke commented on #117
thanx Ralf!

[2018-12-29 10:18] #117 closed

[2018-12-29 10:19] #38 closed

[2018-12-29 10:25] gernotstarke opened #118 "Help-text should contain links to appropriate docs.arc42.org sections"
It'd be great if the help-text of the template sections contained links to
the (quasi-official) docs.arc42.org tipps.

[2019-01-01 10:35] gernotstarke opened #119 "Deutsche Hilfetexte _gender-neutral_ formulieren"

[2019-01-02 13:59] programming-wolf opened #120 "Deutsche Texte korrigieren/aufhübschen"
Es gibt noch einige unsaubere Textstellen, die korrigiert oder aufgehübscht werden können.

[2019-01-02 14:32] barthel commented on #120
Welche?

[2019-01-02 14:35] barthel commented on #119
Wie gehen wir mit der Rolle "Softwarearchitekt" um?
Sollen wir das "Gender-Sternchen" verwenden oder eine genderneutrale Umschreibung finden?

[2019-01-02 14:36] barthel commented on #119
Ich würde mich dem Thema annehmen.

[2019-01-02 14:48] programming-wolf commented on #120
Ich hab das Ticket eigentlich für mich gemacht, um selbst etwas beizutragen. Darf ich es dir dann zum Review geben? :)

[2019-01-02 14:50] barthel commented on #120
Gern. Ich werde mich dem gender-neutralem Textstil widmen :-).

[2019-01-02 15:45] rdmueller opened #121 "github-flavoured markdown not in list of downloads"
we should add this to arc42.org

[2019-01-02 15:45] gernotstarke commented on #121
no high priority, but go ahead...

[2019-01-03 15:32] programming-wolf commented on #120
Ich habe einen PullRequest erstellt, aber ich kann dich leider nicht als Reviewer eintragen, @barthel :-/

[2019-01-03 15:57] barthel commented on #120
Kein Problem. Ich schaue mir deinen PR mal an.
Danke!

[2019-01-03 18:41] gernotstarke commented on #120
PR merged - ich schliesse den Issue

[2019-01-03 18:56] rdmueller commented on #120
halt - die neuen Templates müssen och gebaut werden :-)

[2019-01-03 18:57] programming-wolf commented on #120
Das könnten wir nach #119 machen, oder?

[2019-01-03 19:12] rdmueller commented on #120
was wir haben, haben wir :-) Die Änderungen sind live...

[2019-01-03 19:12] #120 closed

[2019-01-04 18:05] barthel commented on #119
Nach dem Mergen müssen die Templates gebaut und committed werden.

[2019-01-04 19:43] rdmueller commented on #119
mache ich sobald jemand gemerged hat. bauen und committen geht mittlerweile schnell.

[2019-01-04 20:16] programming-wolf commented on #119
Ist drin, kannst bauen.

[2019-01-04 21:39] rdmueller commented on #119
ok.

[2019-01-04 21:44] rdmueller commented on #119
done and closed.

[2019-01-04 21:44] #119 closed

[2019-01-28 16:06] rdmueller opened #124 "Headlines vs. Filenames"
For chapters 8, 10 and 11, the filenames differ from the chapter names.
We should update the filenames for the next release.

[2019-02-20 16:36] ewolff opened #125 "Quality scenarios should be an early chapter"
IMHO quality scenarios are an important input to create a fitting architecture. However, the current template puts them in chapter 10. I would prefer to have it as chapter 3 or 4. That way the requirements are clear at the beginning (where they belong IMHO and where the constraints are). Also it makes quality a higher priority which does them more justice.

[2019-02-20 17:49] gernotstarke commented on #125
Its the intention to extract the most important (one- or two handful) of quality scenarios into section 1.2 (as shown in the [arc42 docs](https://docs.arc42.org/section-1/)).

Keep the section 1 (the entry point to the architecture for many stakeholders) short, as proposed [here](https://docs.arc42.org/tips/10-1/), but include the very important and relevant scenarios.

Put the majority (aka the "

[2019-02-20 17:50] gernotstarke commented on #125
Second (pragmatic) option is the combination of 1.2 (top quality requirements) with 4 (solution strategy) within a single table:

* explain the quality scenarios in the left column of the table
* adjacent on the right explain the resulting solution approach(es), specific to THIS quality requirement

[2019-10-22 13:17] chseip opened #127 "Wrong syntax for Textile tables"
In Textile download you provide tables in HTML syntax. Those cannot be displayed with Redmine for example. This is an example for correct Textile syntax for tables which Redmine accepts:

`| 1 Spalte und 1 Zeile | 2 Spalte und 1 Zeile | 3 Spalte und 1 Zeile | 4 Spalte und 1 Zeile|
|\3=.Verknüpfen von Spalte 1-3 | 4 Spalte und 2 Zeile       |`

Screenhot:
![textile_tables](https://user-images.githu

[2019-10-22 14:11] gernotstarke commented on #127
@chseip - thanx for notifying us.

Problem here: we generate the Textile version from our asciidoc source - and apart from you,
nobody seems to suffer from that table syntax (as nobody ever complained before!)

I personally have no idea why the generator (pandoc) produces the seemingly problematic syntax
(and surely won't find the time to research the topic) - sorry for that.

But: we very much we

[2019-10-22 14:12] gernotstarke commented on #127
@rdmueller - you have any idea concerning Textile table syntax issues?

[2019-10-22 14:25] chseip commented on #127
@gernotstarke Thanks for your fast reply. Didn't know of the pandoc usage and had a quick look into it. From what I found it seems to support real Textile tables, but all I could find was info on using Textile tables as input but not as output (cf. https://github.com/jgm/pandoc/issues/1922 and https://github.com/jgm/pandoc/issues/22)

[2019-10-23 05:59] rdmueller commented on #127
I will check if there are options for oandoc to generate a different table style

[2019-10-23 06:23] chseip commented on #127
Thanks, that'd be very helpful :-)

[2019-10-24 20:30] rdmueller commented on #127
so, this is the task which creates textile:

https://github.com/arc42/arc42-generator/blob/master/subBuild.gradle#L243

If you want to, you could add an additional conversion via a PR, but I guess panoc will not be helpful for this.

[2019-10-28 10:40] chseip commented on #127
@rdmueller Could/Will you try what was proposed over there?

[2019-10-28 20:35] rdmueller commented on #127
so, it seems that a table definition from docBook like this

[code]

will be translated to an HTML table in textile because of the width within the `colspec`

We now could create a lua filter or just replace it with a groovy script.

[2019-10-29 08:48] rdmueller commented on #127
@chseip which language do you need?
you will find a bunch of new templates (*textile2) in this folder https://github.com/arc42/arc42-template/tree/master/dist
The lua filter didn't work for me, because it works on the AST, so I used a groovy filter :-)

[2019-11-04 06:31] chseip commented on #127
@rdmueller Looks fantastic, thanks so much! :-)

![textile2_tables](https://user-images.githubusercontent.com/3062968/68102906-0791de00-fed5-11e9-99a9-c458dac71542.png)

[2019-11-04 06:31] #127 closed

[2019-11-12 18:20] ianmcderp opened #128 "English image listing concepts contains German terms"
I noticed that the English image that lists cross-cutting concepts contains German terms. I would like to fix this - is there an automated way to generate the images from the xmind files? Or is this done purely by hand?

[2019-11-13 07:57] gernotstarke commented on #128
ooh ooh, manually.... these mindmaps are rarely changed, therefore automation is imho not really needed...

[2019-12-05 13:59] wilhem-meignan commented on #128
Suggestions:

Skalierung -> Scalability
Hochverfügbarkeit -> High availability
Monitoring, Logging, Protokollierung -> Monitoring, Logging

Isn't "Protokollierung" in German the same as "Logging" in English?

[2019-12-05 15:55] gernotstarke commented on #128
PR welcome...

[2019-12-06 08:38] Wallaby1999 commented on #128
Is using PlantUML graphics generation (https://plantuml.com/de/mindmap-diagram) an option?

[2019-12-06 08:41] wilhem-meignan commented on #128
I managed to correct the picture but not create a pull-request for it. I get a 403 error trying to push with git. I am probably doing something incorrectly since I have not contributed any PR on github yet.

[2019-12-06 09:16] programming-wolf commented on #128
You’ve got to fork the repository and then create a pull request fr your repository to this one.
Look here for details/help:
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2019-12-06 09:37] wilhem-meignan commented on #128
Here a PR: https://github.com/arc42/arc42-template/pull/129

Thanks @programming-wolf for pointing me to the right documentation. I was missing forking the repository on github first ;-)

[2019-12-17 11:53] ianmcderp commented on #128
Thanks for helping out to close this issue - and congratulations on your first PR on GitHub! :wink:

[2019-12-17 11:53] #128 closed

[2019-12-17 14:12] wilhem-meignan commented on #128
Thanks! :smiley:

[2020-06-25 10:21] andrekramer1 opened #130 "Remove inappropriate language in section 5."
The building block section uses terms blackbox and whitebox. Consider using less loaded terms? Opaque & transparent.

[2020-06-25 18:27] gernotstarke commented on #130
@andrekramer1 , thanx a lot for caring about arc42 and your interest.

in software engineering, the terms "black" and "white" are surely NOT loaded with inappropriate connotations - as "blackbox" and "whitebox" are strictly neutral expressions - not "one is better than the other".

In case you proposed to remove "master-slave" from any publication - I'd agree completely.

@peterhruschka and myself

[2020-06-25 18:27] #130 closed

[2020-06-26 13:35] andrekramer1 commented on #130
Sorry to hear that. Lot's of removal of backlist / whitelist terminology in computer science being done proactively now. While backbox may not be a very loaded term the fact that you invented & champion "whitebox" as a new term that has a quality (non-opaqueness)  that "blackboxes" don't have by your definition leaves you open to continued accusation. Please reconsider.

[2020-07-04 21:23] timoc opened #131 "Feature request: Tiddlywiki target"
Tiddlywiki is a wiki implemented as a single HTML file:
https://tiddlywiki.com/

This would be a perfect generator target for self contained "portable"  documentation. Usefull for local/offline reference material. Potentially buildable for separate stakeholders.

[2020-07-04 21:52] rdmueller commented on #131
sounds like an interesting / fun feature for https://github.com/arc42/arc42-generator
which kind of markup does tittdlywiki use? How would a generated template look like?

[2020-07-05 06:09] gernotstarke commented on #131
@timoc - thanx for this idea. I see two options to proceed:

1. You (or some other volunteer) creates a (mostly blank) tiddywiki arc42 skeleton - and we publish that on arc42.org
2. We have a look at options to generate such a tiddlywiki from our asciidoc sources.

As our current change-rate within the arc42-template is rather low, option (1) would be a perfect start.

I have to admit, though, tha

[2021-02-22 14:56] bjoern-thalheim opened #134 "LaTeX - German Template - thinspace unicode issue"
I have just drawn the german LaTeX arc42 Template.
Compiling it gives me the following error:
        ! Package inputenc Error: Unicode character   (U+2009)
        (inputenc)                not set up for use with LaTeX.
This seems to be the same issue mentioned here: https://tex.stackexchange.com/questions/438214/package-inputenc-error-unicode-char-%c3%a2%e2%82%ac-u2009-thin-space

The problem s

[2021-02-22 14:58] bjoern-thalheim commented on #134
If anybody has a different toolchain than Windows with TeXworks and MiKTeX 2.9, could you try to compile the template which can be downloaded at https://raw.githubusercontent.com/arc42/arc42-template/master/dist/arc42-template-DE-withhelp-latex.zip? Thanks!

[2021-02-22 15:54] gernotstarke commented on #134
sorry - I'm currently not using any TeX or LaTeX toolchain and therefore cannot help...

[2021-02-22 16:57] rdmueller commented on #134
so, this is an quite interesting problem. It seems that is has to do with the pandoc conversion.
We could apply a "search and replace" after the conversion, but somehow pandoc thinks this is fine...

[2021-02-22 17:00] rdmueller commented on #134
should put `\DeclareUnicodeCharacter{2009}{\,}` somewhere to fix this?

[2021-02-22 21:05] bjoern-thalheim commented on #134
@rdmueller I'd suggest replacing the thinspace character with a normal unprotected space like this:
  \DeclareUnicodeCharacter{2009}{ }

Using that, I see no problems any more in the spanish, english, and german templates (tried it with Overleaf).
The english and spanish templates do not suffer from the thinspace issue around the "---".
The russian "withhelp" template suffers from the same issue.

[2021-03-26 20:42] StephanPraetsch opened #136 "simplify markdown template"
Hi,

on https://arc42.org/download there are templates provided, among others for markdown files. I downloaded them and it's rendered awfully.

# anchors in headers do not work, e.g.
[code]
that way it's difficult to read

# tables are syntactically incorrect, e.g.
[code]
this is not rendered as a table

# hard to read (personal taste)
if there are so many information, split over many lines, conta

[2021-03-26 22:37] rdmueller commented on #136
thanx for the feedback. We use pandoc to convert to markdown:

https://github.com/arc42/arc42-generator/blob/1d4b4427fc99bb012dea6fafd0235edd1db334fc/subBuild.gradle#L175

Do you know a better way or maybe just some options for pandoc?

[2021-03-27 17:52] StephanPraetsch commented on #136
I'm not that familar with gradle. Where is that `arc42-template.xml`? Is it generated? If yes, how? If I understood correctly then you generate everything by
[code]
?

[2021-03-27 18:01] rdmueller commented on #136
asciidoctor is able to generate docbook (arc42-trmplate.xml) out of the box.
The readme should contain some information on how to run the scripts.

[2021-03-27 19:07] StephanPraetsch commented on #136
Playing a little bit around
[code]
The generated md file is rendered correctly, though not prefered notion everytime :-D

# correct cotations
instead of broken
[code]
it is
[code]

# correct table
instead of broken
[code]
it is
[code]

and so on

[2021-03-27 19:36] rdmueller commented on #136
So, we should just use the `strict` option?

[2021-03-27 22:18] StephanPraetsch commented on #136
At least you should give that option a try :)
Generate with `markdown_strict`, copy&paste the result to https://dillinger.io/ and scroll through the rendered preview.

[2021-03-30 14:36] rdmueller commented on #136
OK. let's generate an additional markdown dialect. This should do no harm...

[2021-05-11 22:18] mk0 opened #138 "DOCX-files for download are broken"
If you download and view the DOCX-files in english or german, they are almost empty. There is only the first page and then the document ends.

[2021-05-12 05:46] programming-wolf commented on #138
I cannot confirm this. I downloaded both the plain German word document and the one with help, and they both contain all the chapters (plain 5 pages, with help 18 pages). Same with the English version (5 pages, 17 pages).
I used macOS BigSur 11.3.1, Word for Mac 16.48.

Maybe your download was corrupt or the extraction failed somehow?

[2021-05-12 07:55] rdmueller commented on #138
Define "almost" empty.

This is the content of the english plain template downloaded from https://arc42.org/download

![image](https://user-images.githubusercontent.com/1856308/117939261-2d891180-b308-11eb-96ed-4c537fc22a4e.png)

looks good to me.

[2021-05-12 12:45] mk0 commented on #138
I am using OpenOffice. So this might be an issue on their side maybe. This is what I do get:

![grafik](https://user-images.githubusercontent.com/1453783/117976854-8371af80-b330-11eb-9b2e-dfd4e47aba38.png)

[2021-05-12 13:10] gernotstarke commented on #138
we don't currently generate an OpenOffice version, but rely on compatibility between docx and openOffice...

My OpenOffice (4.1.6) simply crashes when trying to open the template...

sorry, no idea why, and currently no capacity to research this issue.

[2021-05-12 13:19] gernotstarke commented on #138
upgraded to 4.1.10 (most recent version as of May 2021). Works fine now:
![image](https://user-images.githubusercontent.com/1233990/117981546-64c1e780-b335-11eb-92c1-30e5a8cf9a8c.png)

[2021-06-17 20:32] rdmueller commented on #101
yes, this would work. I usually remove the help contents when I am done with a chapter.

you approach would look something like this for each help section:

[code]

I fear that this makes the template more complex than it is and it could scare people away...
but that is only my opinion

btw: the `[.arc42help]`-role adds a css class. So, we could toggle it via css

[2021-06-18 04:26] ascheman commented on #101
I like to leave it in place for people coming later to the project to find some advice.

Exactly, though I find only the `role` sections in the source, so I would wrap it around

[code]

In my opinion it is a very small difference (and makes users aware of the power of AsciiDoctor).

Are there other stakeholders to ask for opinions? Should we ask people to vote for (or against) this change?

I per

[2021-06-18 06:24] rdmueller commented on #101
let's create an ADR!
we have several options...

- injected CSS to show help only as (?)-Bubbles on the right which expand on mouse over
- plain AsciiDoctor 2.0 html collapsible
- ifdef
- javascript show/hide
- new macro

right?

[2021-06-18 06:30] ascheman commented on #101
The solution should work for generated PDF as well.
This reduces the number of options?

[2021-10-02 06:25] gernotstarke opened #139 "add ISO 25010 topics to help-text in section 1.2"
briefly explain those topics in a diagram

[2021-10-02 07:20] stefanleh commented on #139
Hi Gernot,

there is a diagram and some explanations in english here: https://iso25000.com/index.php/en/iso-25000-standards/iso-25010
For my currect architecture concept i needed this and created a mindmap using the content from the website above.
If interested i can share this.

Best regards, Stefan

[2021-10-03 06:16] gernotstarke commented on #139
Hi Stefan, thanx for your suggestion. Problem with the iso25000 site is that it's not affiliated with ISO, and differs in wording from the official standard.

Additionally, I had a more explanatory diagram in mind. For the overview, I created one (with explanations taken from the original standard):

![1-2-iso-25010-topics-en Kopie](https://user-images.githubusercontent.com/1233990/135742393-3a3da

[2021-10-03 12:48] stefanleh commented on #139
Hi Gernot,

i wasn't aware that the iso25000 site uses an other wording. Thank you for pointing out. Now knowing there are differences maybe i can convince my employer to spend the 138CHF for the original ;)

Best regards, Stefan

[2021-10-03 13:03] gernotstarke commented on #139
reading standards is one of those _rare pleasures_ I can easily live without - but sometimes it pays off. And yes, imho having the original ISO in your bag might help... (as does a towel and a protein bar). Enjoy your Sunday.

[2021-11-29 10:32] mbrunnen commented on #93
Thanks a lot for the RST template. I think sphinx is going to be the de-facto standard toolchain for documentation,
not only for python, e.g.:
* CMake: https://cmake.org/cmake/help/latest/index.html
* Linux: https://www.kernel.org/doc/html/latest/

[2021-11-29 10:48] gernotstarke commented on #93
thanx for the links!

[2021-11-30 19:39] gernotstarke commented on #138
close issue - seems resolved.

[2021-11-30 19:39] #138 closed

[2021-11-30 19:41] gernotstarke commented on #139
I put the abovementioned diagram in docs.arc42.org, will include it in the template for V8

[2021-12-15 13:26] gernotstarke commented on #125
Peter Hruschka and myself had an intensive discussion about your proposal, and decided (unanimously) NOT to change the section order:

* arc42 shall be no replacement for appropriate requirements documentation. In principle, quality requirements should also be contained in requirements!
* Section 1.2 (quality goals) should contain the most important of these Q-requirements, which should adress you

[2021-12-15 13:26] #125 closed

[2021-12-15 13:29] gernotstarke opened #140 "add explicit suggestion to formulate quality requirements in section 1.2"
see #125

[2021-12-15 13:37] gernotstarke opened #141 "consistent naming of "Architecture Decision""
as we want to propose "ADR's" as a means of communicating decisions, we should rename "Design Decisions" to Architecture Decisions everywhere (in docs.arc42.org, FAQ and template)

[2021-12-15 13:53] gernotstarke opened #142 "add section ".Further Information" to arc42-help"
Our docs.arc42.org contains additional information on various sections of the template, and is suited for background info.

Therefore, we should refer to (->hyperlink) from the template to the appropriate sections in docs.arc42.org

[2021-12-15 16:57] #142 closed

[2021-12-15 17:49] gernotstarke commented on #124
* fixed for 10_quality_requirements.adoc in DE, EN, IT, ES and RU versions
* 8: concepts are ok as filename
* 11: technical debt is ok as filename

[2021-12-15 17:49] #124 closed

[2021-12-15 17:51] gernotstarke commented on #118
done, added section to help text containing the link to appropriate docs.arc42.org-section

[2021-12-15 17:56] gernotstarke commented on #101
is this issue still active? Does anyone still care?

Otherwise, I propose to close it.

[2021-12-15 17:57] gernotstarke commented on #104
closed, as issue is inactive and nobody else seems to care

[2021-12-15 17:57] #104 closed

[2021-12-15 17:58] gernotstarke commented on #141
done

[2021-12-15 17:58] #141 closed

[2021-12-15 18:03] gernotstarke commented on #139
done

[2021-12-15 18:03] #139 closed

[2021-12-15 18:18] gernotstarke commented on #112
close due to inactivity. Does not seem to be relevant any more.

[2021-12-15 18:18] #112 closed

[2021-12-15 18:18] gernotstarke commented on #103
closed due to inactivity.

[2021-12-15 18:18] #103 closed

[2021-12-15 18:19] gernotstarke commented on #39
docu for the generator (arc42-generator) is good enough, imho.

[2021-12-15 18:19] #39 closed

[2021-12-16 13:06] gernotstarke commented on #118
I missed several sections in the DE version...

[2021-12-16 13:42] gernotstarke commented on #118
these links are now contained in DE and EN versions

[2021-12-16 13:42] #118 closed

[2021-12-16 13:42] gernotstarke commented on #71
close due to inactivity

[2021-12-16 13:42] #71 closed

[2021-12-16 14:26] gernotstarke opened #143 "fix incorrect image syntax"
if an image is included within the text, it should be:

= image:arc42-logo.png[arc42]

if it's in its own line:

image::arc42-logo.png[arc42]

That lead to misbehaviour of the toolchain...

[2021-12-16 15:36] gernotstarke commented on #143
still a problem with the following image in 01_ntroduction_and_goals (EN):

[code]

[2021-12-16 15:37] gernotstarke commented on #143
quite interesting, the following image is handled correctly:

`
image::05_building_blocks-EN.png["Hierarchy of building blocks"]
`

[2021-12-16 15:38] gernotstarke commented on #143
in a local build (in the template repo), both images are processed correctly.

[2021-12-16 15:40] gernotstarke opened #144 "image not handled correctly"
image::1-2-iso-25010-topics-en.png["Categories of Quality Requirements"]

is missing from generated artifacts...

[2021-12-16 18:10] rdmueller commented on #144
ok. I will look into this asap

[2021-12-17 09:57] gernotstarke commented on #74
nobody seems to care, I close this one

[2021-12-17 09:57] #74 closed

[2021-12-17 09:59] gernotstarke commented on #144
it now works in docx and html, so I can close it...

[2021-12-17 09:59] #144 closed

[2021-12-17 10:27] gernotstarke commented on #51
I added a (really frugal) gradle build, currently only for EN.
Could easily be changed for another language, will add this to readme

[2021-12-17 10:41] gernotstarke commented on #140
The sentence "Make sure to be very concrete about these qualities, avoid buzzwords." should be good enough.

[2021-12-17 10:41] #140 closed

[2021-12-17 10:43] gernotstarke commented on #143
seems fixed

[2021-12-17 10:43] #143 closed

[2021-12-17 13:00] gernotstarke commented on #51
good enough, need to debug the language settings some day

[2021-12-17 13:00] #51 closed

[2021-12-17 13:00] #101 closed

[2021-12-17 16:09] gernotstarke commented on #51
I added a (really frugal) gradle build, currently only for EN.
Could easily be changed for another language, will add this to readme

[2021-12-18 13:49] gernotstarke opened #145 "add Gitpod yml to build html without local gradle/java installation"

[2021-12-21 11:59] gernotstarke opened #146 "check crossrefs to docs.arc42.org for superflous "(""

[2021-12-21 12:23] gernotstarke commented on #146
23 occurences of that nasty copy/paste issue (wrong asciidoc syntax)... fixed

[2021-12-21 12:23] #146 closed

[2021-12-21 13:44] gernotstarke commented on #37
will close this due to inactivity

[2021-12-21 13:44] #37 closed

[2022-01-03 17:45] fkromer opened #147 "Provide template as strictdoc .sdoc file"
To help people getting started with [strictdoc](https://github.com/strictdoc-project/strictdoc) and [arc42](https://arc42.org/) it could be helpful to provide the arc42 template as `.sdoc` file (english version only) or several files (all languages). There are [`rst` templates in different languages on the download site](https://arc42.org/download) already which could easily be convert into `.sdoc

[2022-01-03 18:46] rdmueller commented on #147
Hm. This would be a manual conversion, wouldn't it?

[2022-01-03 20:51] fkromer commented on #147
StrictDoc has a custom grammar [defined here](https://github.com/strictdoc-project/strictdoc/blob/main/strictdoc/backend/sdoc/grammar/grammar.py) and [documented here](https://strictdoc.readthedocs.io/en/stable/strictdoc.html#sdoc-syntax). A lot of content is [reST](https://strictdoc.readthedocs.io/en/stable/strictdoc.html#markup) however. Nevertheless writing a conversion script would be quite so

[2022-01-03 21:03] rdmueller commented on #147
currently the different versions of the arc42 template are autogenerated through https://github.com/arc42/arc42-generator/blob/master/subBuild.gradle .

In case of strictdoc, I understand that we need a manual conversion. In this case, the right way to provide it would be to copy one of the templates, convert it to strictdoc and provide a demo. Can you provide this?

[2022-01-03 21:21] fkromer commented on #147
I'm not experienced in Groovy. For me it's not possible to contribute something for auto-generating a template.

It's quite likely that I need an arc42 template for StrictDoc in the future. I'll contribute something in case I do.

[2022-01-03 22:05] rdmueller commented on #147
If you can describe how a tempalte can be autogenerated throug a conversion, I can implement this step.

that's great!

[2022-01-05 12:06] gernotstarke opened #148 "confluence template plugin: broken link"
https://marketplace.atlassian.com/apps/1213243/blueprints-for-arc42 is the correct one

[2022-01-13 08:48] nikolaialex opened #150 "ADRs should have a timestamp"
Might be obvious, but I think it is important that ADRs contain a timestamp attribute. It might be important, when a certain decision was made.

https://docs.arc42.org/section-9/

[2022-01-15 06:52] gernotstarke commented on #150
better make the obvious expicit, instead of leaving it implicit.

This will definitely become a "Tip" in this section, thanx!!

[2022-01-15 13:29] gernotstarke opened #151 "explain license -> your personal content is NOT CC4, only the template itself"
Alexander Lorz pointed out that the current cc4 license might be misunderstood.

Please add a brief statement explaining the difference between:

* the licensed template + help text itself (covered by CC4)
* the content users put into the template (which is NOT concerned by the license, but is 100% IP of its creators)

[2022-01-21 15:53] gernotstarke commented on #151
fixed in de, org and template

[2022-01-21 16:37] #151 closed

[2022-02-08 07:28] bohni opened #152 "DE/asciidoc/src/08_concepts.adoc: Broken sidebar"
In the german template are two closing delemiters of the help sidebar in chapter 8 of version 8.0

[2022-02-08 07:54] gernotstarke commented on #152
thanx Stefan, I'm currently "on the road"and cannot update the generated files...

[2022-02-08 07:55] gernotstarke commented on #152
therefore, I re-open the issue so I don't forget...

[2022-03-08 16:58] rdmueller commented on #152
we still have to generate the template and deploy it.
@gernotstarke is it ok if I give it a try?

[2022-03-10 13:59] #152 closed

[2022-03-10 15:43] rdmueller commented on #152
so, updated template has been deployed. It seems that this also fixed a problem with the headlines of the docx output.

[2022-03-10 15:45] rdmueller commented on #145
today I tested the gitpod process and it worked fine - better than expected :-)

So, I get the feeling that this isse could be closed:

https://github.com/arc42/arc42-generator/blob/master/.gitpod.yml

[2022-04-19 11:49] sebastianpfischer opened #154 "Cross-cutting concepts vs cross-cutting concerns"
Hi @gernotstarke, hi @rdmueller,

After a quick check on "cross-cutting concept" on google, it seems like that the term "cross-cutting concern" is in broder use.
Is there a plan to align the arc42 template towards this naming or do you see some reasons to differentiate them?

Thanks in advance for your response.

[2022-05-07 13:23] mverburg opened #156 "explicitly mention the source revision and language for translations"
The DE and EN versions are the languages maintained by the owners of this repository.

When bumping a version it can happen that community supported translations (ES, IT and NL at the moment of writing) are based on an earlier version.

It would be good to explicity mention what source language and revision of the template where used for the translation in order to understand how up-to-date the tr

[2022-05-09 09:12] oliv3r opened #158 "Ascii-doc/Markdown has 'Introduction' as title, and all sections as subsections"
Currently, the header 'Introduction and goals' has a single hash (#) to indicate it's a top-level header. 'Requirements and overview' however has the second level header, as well as all following chapters. That means, that when looking at the template from a tree point of view (like for example also when using the sometimes supported `__TOC__` marker to generate a table of contents, we end up with

[2022-05-09 16:15] rdmueller commented on #158
Thanx for reporting this issue.

The markdown version is generated from the AsciiDoc version. Can you trace this problem back to the AsciiDoc version? This would help a lot.

[2022-05-09 20:22] gernotstarke opened #159 "template (DE and EN) contain outdated ISO-25010 overview"
please fix the wrong ISO 25010 terms used within the template.

e.g. operability -> useability.

[2022-05-09 20:31] gernotstarke commented on #158
It's not the hierarchy itself that's wrong, but the start of the hierarchy:

Imho the document title should be a title ABOVE the underlying hierarchy, and in our markdown version it seems to be wrong.

In Markdown, it should be:

# Document title

## Introduction and goals

### - Requirements and overview

### Quality goals

## Constraints

## Context and Scope
...

Cannot investigate today, sorry

[2022-05-09 21:02] mverburg commented on #159
I just happend to be looking into images in the hope I could refactor them to some form of textual form (e.g. PlantUML for the diagrams) and maybe some other form for illustrations such as the ISO-25010 overview.

The [asciidoc documentation](https://docs.asciidoctor.org/diagram-extension/latest/) has quite an extended list of tools that are supported.

Using these textual forms would in my opinio

[2022-05-10 06:09] gernotstarke commented on #159
good idea! If I remember correctly I have the ISO diagram in diagrams.net format, but maybe a PlantUML or Mermaid representation would be even better. Currently I don't find the time to evaluate these extensions, though... will discuss this with @rdmueller and @Hruschka next week!

[2022-05-10 19:13] oliv3r commented on #158
@gernotstarke

You are correct, My example was bad; @hrushka, I do think it should be changed, but I do appologize for using the wrong example, which was probably amplified exactly because of this bug :)

@rdmueller I'm not sure I can pin-point it in the ascii-doc. There, the introduction IS at 'level 2' https://github.com/arc42/arc42-template/blame/master/EN/asciidoc/src/01_introduction_and_goals

[2022-05-10 20:01] rdmueller commented on #158
just to clarify the levels... afaik, in AsciiDoc speak, `==` is Level 1 and `=` is level 0 which is the document or book title. Level 0 should only exist once per document. That's why all chapters start with `==`.

the code which converts the AsciiDoc template to markdown can be found here:

https://github.com/arc42/arc42-generator/blob/master/subBuild.gradle#L185

as you can see, pandoc is used.

[2022-05-14 09:06] benjaminburkhardt opened #160 "Markdown templates with wrong syntax"
Additionally to Ticket #159 the markdown syntax is not followed.

For example:
- table syntax
- placeholder syntax, ```{placeholder}``` should be used instead of ```<placeholder>``` because it might be interpreted as html
- single ```:   *\<Erläuternder Text>*``` does not exist
- the full version in DE stoll contains asciidoc syntax such as ```::: formalpara-title```
- ```{#_ebene_2}```should be r

[2022-05-15 14:11] gernotstarke commented on #160
Benjamin, you or we should check the pandoc conversion - as the Markdown version of the template is generated from the original AsciiDoc source

So instead of cleaning the markdown manually, I suggest we find a better/cleaner way of generating or transforming adoc->markdown...

cc @rdmueller

[2022-05-15 16:52] benjaminburkhardt commented on #160
@gernotstarke definitely generating from source is the way of choice! I've not looked into pandoc yet - so if one of you guys has the chance to look into it that would be great. ;-)

[2022-05-15 18:53] rdmueller commented on #160
yes, we should try to configure pandoc or look for another converter and not try to clean it manually.

the main problem I see is that there are so many markdown dialects. So which should we use?

For instance, the original markdown is not capable of generating tables: https://daringfireball.net/projects/markdown/syntax

For those who want to play around with the settings - the code we use to gene

[2022-05-16 17:41] gernotstarke opened #161 "DE: Kontext, bad text in description"
remove "Kommunikationsbeziehungen"...

[2022-05-16 18:14] gernotstarke opened #162 "heading numbers missing in docx version"
we (GS+PH) suggest to add section numbers to generated output (it's working for html...)

[2022-05-16 18:52] gernotstarke opened #163 "Sect 5, Building Block explanation, overly long bullet list (DE+EN)"
unify between DE and EN

[2022-05-16 19:58] mverburg commented on #163
In order to keep the NL translation in sync as much as possible, I've checked the translation and concluded this issue is not applicable as it is based on the EN version.

The change in the EN version is that the mid sentence line endings have been removed. While translating I'd taken the liberty to remove them already.

[2022-05-20 06:45] gernotstarke opened #164 "check order of image-usage and config-include"
first line:

`= image:arc42-logo.png[arc42] Template`

image is not found, as imagesDir has not yet been configured.

config is included in lines 25/26:
[code]

would it disturb the generator if we moved up this config-include to BEFORE the title?

[2022-05-20 06:52] rdmueller commented on #164
no, I see no reason why it should disturb the generator.

[2022-05-20 16:41] #164 closed

[2022-05-20 16:41] gernotstarke commented on #163
change wording in DE version

[2022-05-20 16:41] #163 closed

[2022-05-20 16:46] gernotstarke opened #165 "replace proprietary graphics format with drawio"
as suggested by @mverburg

[x] ISO-25010-topics
[ ] 05_building_blocks-DE
[ ] 08-Concepts-DE

[2022-05-20 16:49] #159 closed

[2022-05-20 17:09] gernotstarke commented on #156
add

[code]

to `about-arc42.adoc` and define these variables at the beginning of `arc42-template.adoc`

That leads to a duplicate mention of the version in html, but is ok for other formats, afaik.

[2022-05-21 15:39] gernotstarke commented on #160
@benjaminburkhardt - neither @rdmueller nor myself have a chance to look into this issue in the near future, therefore I ask for your help.

I leave this issue open, maybe other folks have time and/or ideas...

[2022-09-06 05:20] rdmueller opened #169 "broken build"
the auto-build is currently broken https://github.com/arc42/arc42-template/actions/runs/2995530755

The problem seems to be the asciidoctor plugin version => https://stackoverflow.com/questions/69637205/cannot-locate-a-guava-jar-in-the-gradle-distribution

PR already prepared.

[2022-10-18 15:36] gernotstarke opened #173 "bump up version id to 8.1.1 to reflect latest EN fix"